@import "../../node_modules/css-reset-and-normalize-sass/scss/reset-and-normalize.scss";

@import "utilities/mixins";
@import "utilities/variables";

@import "base/fonts";
@import "base/general";

@import "vendors/uikit";
@import "vendors/swiper";
@import "vendors/nice-select";

@import "components/search";
@import "components/cart";
@import "components/btn";
@import "components/main-banner";
@import "components/banner";
@import "components/product-card";
@import "components/field";
@import "components/frame";
@import "components/review";
@import "components/pagination";
@import "components/article-list";
@import "components/dotted-list";
@import "components/feature";
@import "components/filter";
@import "components/tooltip";
@import "components/rating";
@import "components/fileuploader";
@import "components/profile";
@import "components/seo";
@import "components/seo-msk";
@import "components/menu";
@import "components/calc";
@import "components/description";
@import "components/land";
@import "components/land-air";
@import "components/seo-features";

@import "layout/header";
@import "layout/main-features";
@import "layout/subscribe";
@import "layout/footer";
@import "layout/question";
@import "layout/contacts";
@import "layout/reviews";
@import "layout/article";
@import "layout/articles";
@import "layout/return-policy";
@import "layout/delivery";
@import "layout/accordion";
@import "layout/warranty";
@import "layout/return";
@import "layout/catalog";
@import "layout/account";
@import "layout/checkout";
@import "layout/product";
@import "layout/refferal";
@import "layout/popup";
@import "layout/credit";