<div class="land land--8">
  <picture>
    <source media="(max-width: 959px)" srcset="img/pic/descriptions/land-8-top-mobile.jpg">
    <img class="land__image land__image-top" src="img/pic/descriptions/land-8-top.jpg" alt="iPhone8">
  </picture>
  <p class="land__title land__title--lg">Компактный шедевр современной электроники</p>
  <p class="land__text land__text--md">Удобный, легкий и приятный на ощупь iPhone 8 считается аппаратом широких
    возможностей. Оснащенный стеклянной задней панелью, он способен заряжаться без проводов. Благодаря
    усовершенствованной камере – снимать отличные фото. А личная разработка Эппл – процессор A11 Bionic – обеспечивает
    системе максимальное быстродействие. Любые пользовательские задачи смартфон решит в мгновение ока!</p>

  <div class="land__container land__container--characteristic">
    <div class="land__container-content">
      <p class="land__title land__title--md">Основные параметры айфона</p>
      <ul class="list list--green">
        <li class="list__item">Экран Retina HD на 4,7 дюйма, имеет разрешение 1334×750 и плотность точек 326 ppi</li>
        <li class="list__item">Аппарат хорошо защищен от внешних воздействий: прочное стекло, водозащита IP67</li>
        <li class="list__item">Максимальный размер хранилища файлов – 256 Gb</li>
        <li class="list__item">Камеры девайса: на 12 и 7 Мп, способны снимать видео в формате 4К и Full HD</li>
      </ul>
    </div>
    <img class="land__image" src="img/pic/descriptions/land-8-characteristic.jpg" alt="iPhone8">
  </div>

  <ul class="land__features">
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--steel">
        <use xlink:href="img/symbol/sprite.svg#land-8-feature1"></use>
      </svg>
      <p class="land__text land__text--sm">Аутентификация пользователя с помощью системы Touch ID минимизирует риск
        взлома системы третьими лицами</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--charging">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature3"></use>
      </svg>
      <p class="land__text land__text--sm">A11 Bionic – встроенный чипсет от Apple на 6 ядер демонстрирует максимальную
        производительность и скорость работы</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--coating">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature4"></use>
      </svg>
      <p class="land__text land__text--sm">Беспроводная зарядка доступна при наличии док-станции стандарта Qi, быстрая
        зарядка – с адаптером питания Apple USB-C</p>
    </li>
  </ul>

  <div class="land__container land__container--4k">
    <img class="land__image" src="img/pic/descriptions/land-8-4k.jpg" alt="iPhone8">
    <div class="land__container-content">
      <p class="land__title land__title--md">Ловите момент –<br />в разрешении 4K!</p>
      <p class="land__text land__text--sm">Заключая iPhone 8 в стеклянный корпус, обрамленный алюминиевой рамкой из
        сплава, применяемого в аэрокосмической промышленности, производители позаботились о том, чтобы девайс выглядел
        солидно и надежно. Все детали идеально подогнаны друг под друга, кнопки расположены максимально удобно, а
        зеркальный логотип-яблоко добавляет изделию оригинальности и красоты. Актуальные расцветки, предлагаемые на
        выбор: Silver, Gold и Space Grey.</p>
    </div>
  </div>

  <div class="land__container land__container--bottom">
    <div class="land__container-content">
      <p class="land__title land__title--md">Улучшения камеры гарантируют идеальную съемку</p>
      <p class="land__text land__text--sm">Основная камера девайса широкоугольная, на 6 линз, с разрешением 12 Мп,
        автофокусом, оптической стабилизацией, расширенным цветовым диапазоном. Она снимает быстрее предшественников,
        упрощая процедуру получения эффектных кадров в разы. Режим HDR – выше всяческих похвал. Встроенный процессор
        обработки сигналов автоматически распознает в кадре людей, движения, яркость освещения и другие параметры. На
        фото отличная резкость и минимум шумов.</p>
    </div>
    <img class="land__image" src="img/pic/descriptions/land-8-bottom.jpg" alt="8">
  </div>
</div>
