<div class="land-air">
  <div class="land-air__top">
    <p class="land-air__title land-air__title--lg">Беспроводные наушники AirPods – лучшее детище компании Apple</p>
    <p class="land-air__text land-air__text--md">Поставляемые потребителю в компактном боксе со встроенным зарядным
      устройством, сверхудобные, легкие и модные наушники за считанные дни стали настоящим культом среди меломанов и
      молодежи. Демонстрируя чистый, живой и яркий звук, они практически не имеют аналогов в отрасли. Их можно
      использовать для прослушивания музыки и в качестве гарнитуры. Они отлично сочетаются с любыми пользовательскими
      девайсами. Установление соединения происходит моментально. И самое главное – с AirPods можно забыть про надоевший
      ритуал распутывания проводов.</p>
  </div>

  <div class="land-air__black">
    <p class="land-air__title land-air__title--md">Идеальные внешне и внутренне</p>
    <p class="land-air__text land-air__text--md land-air__black-text">Впечатляющий дизайн AirPods дополняется их
      мультифункциональностью, техническим совершенством и элементарностью активации. Чтобы запустить наушники,
      достаточно одного-единственного касания. Девайс весьма самостоятельный и кажется, способный предугадывать
      пожелания пользователя. Совместимость 100% не только с iPhone, Apple Watch, iPad и Mac, но и с гаджетами других
      брендов. Можно использовать даже с Windows и Android.</p>
    <p class="land-air__title land-air__title--md">Siri всегда придет на помощь</p>
    <p class="land-air__text land-air__text--md">Управлять наушниками легче легкого. Чтобы переключить трек, сделать
      звонок, изменить уровень громкости и решить множество других аудио-задач, достаточно произнести коронное "Привет,
      Siri" и сформулировать задачу.</p>
  </div>

  <div class="land-air__gray">
    <div class="land-air__gray-content">
      <ul class="land-air__gray-list">
        <li class="land-air__gray-item">
          <p class="land-air__text land-air__text--lg">Сенсоры отслеживают все действия</p>
          <p class="land-air__text land-air__text--sm">Комплект оптических сенсоров и акселерометра помогает управлять
            системой для достижения идеального результата: в нужный момент он запускает микрофоны для разговора по
            телефону и коммуникации с Сири, активирует воспроизведение звука (когда наушники в ушах), позволяет
            эксплуатировать как оба устройства, так и по одному. Специальная система жестов и касаний дает возможность
            управлять прослушиванием музыки.</p>
        </li>
        <li class="land-air__gray-item">
          <p class="land-air__text land-air__text--lg">Сенсоры способствуют идеальному разговору</p>
          <p class="land-air__text land-air__text--sm">За счет наличия акселерометра, который распознает факт начала
            диалога, акустическая ситуация максимально подстраивается под пользователя. Микрофоны направленного действия
            подавляют шумы и совершенствуют качество передачи голоса.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="land-air__feature">
    <p class="land-air__title land-air__title--md land-air__feature-title">Зарядка на любой вкус</p>
    <p class="land-air__text land-air__text--md">Обеспечить обновление заряда AirPods можно несколькими способами:
      поместив их в "родной" футляр, а если тот разряжен, то воспользовавшись разъемом Lightning или док-станцией
      формата Qi. Футляр с функцией беспроводной зарядки – уникальное приспособление, которое создает минимум хлопот и
      опять-таки способно обходиться без лишних проводов. Система визуальной индикации спереди устройства подскажет,
      заряжены ли наушники или еще нет.</p>

    <p class="land-air__title land-air__title--md land-air__feature-title">Эта музыка будет вечной!</p>
    <p class="land-air__text land-air__text--md">AirPods с процессором H1 признаны самыми долгоиграющими в индустрии. С
      их помощью можно наслаждаться любимой музыкой на протяжении 5-ти часов кряду. В режиме телефонного звонка – всего
      3 часа. А если подобрать оптимальный режим подзарядки девайса, можно продлить период его работы более, чем на
      сутки! Особая фишка новинки – наличие быстрой подзарядки в течение четверти часа. Стоит лишь спрятать устройство в
      футляр
      и дать ему отдохнуть 15 минут, после чего AirPods смогут отработать еще 3 часа минимум. Чтобы узнать, как долго
      еще продержатся наушники без очередной зарядки, можно проконсультироваться с Сири, спросив: «Сколько заряда в моих
      AirPods?»
    </p>

    <ul class="land-air__feature-list">
      <li class="land-air__feature-item">
        <p class="land-air__feature-text">Более<br /><span class="land-air__feature-time">24&nbsp;ч</span><br /></p>
        <p class="land-air__feature-text">работы<br />от&nbsp;аккумулятора<br />с&nbsp;подзарядкой<br />в&nbsp;футляре
        </p>
      </li>
      <li class="land-air__feature-item">
        <p class="land-air__feature-text">До<br /><span class="land-air__feature-time">5&nbsp;ч</span><br /></p>
        <p class="land-air__feature-text">работы от&nbsp;аккумулятора<br />без&nbsp;подзарядки</p>
      </li>
      <li class="land-air__feature-item">
        <p class="land-air__feature-text">Всего<br /><span class="land-air__feature-time">15&nbsp;мин</span><br /></p>
        <p class="land-air__feature-text">подзарядки для&nbsp;3&nbsp;часов<br />прослушивания аудио</p>
      </li>
    </ul>
  </div>

  <div class="land-air__set">
    <div class="land-air__set-content">
      <div class="land-air__set-description">
        <p class="land-air__title land-air__title--sm">Предельная простота настройки</p>
        <p class="land-air__text land-air__text--sm">Владельцы AirPods не знают проблем с сопряжением своих девайсов.
          Чудо-наушники сами устанавливают соединение с айфоном или смарт-часами, нужно только достать их из коробки.
          Более того, они совместимы со всеми устройствами, подсоединенными к конкретному iCloud. Простейшее
          переключение на то или устройство вывода мгновенно обеспечивает возможность слушать музыку непосредственно с
          него. Все просто и легко!</p>
      </div>
      <img class="land-air__set-image" src="img/pic/descriptions/land-air-set.jpg" alt="Apple set">
    </div>
  </div>

  <div class="land-air__footer">
    <p class="land-air__title land-air__title--md land-air__footer-title">Радость совместного прослушивания</p>
    <p class="land-air__text land-air__text--md land-air__footer-text">Разделить счастье обладания AirPods всегда можно
      с друзьями и близкими людьми, подключив несколько пар наушников к одному девайсу. Соединение со вторым комплектом
      устройства обеспечивается всего в одно касание, громкость настраивается в индивидуальном порядке. Идеально для
      совместного прослушивания музыки, радио, подкастов и т.д.</p>
    <img class="land-air__footer-image" src="img/pic/descriptions/land-air-bottom.jpg" alt="">
  </div>
</div>
