<div class="land land--black">
  <img class="land__image-top" src="img/pic/descriptions/land-1-top.jpg" alt="iPhone XS">
  <p class="land__title land__title--top">iPhone XS &#448; XSMax</p>
  <p class="land__title land__title--lg land__color-gold">Великие смартфоны для выдающихся личностей</p>

  <p class="land__text land__text--md land__color-gold">Сразу два солидных фаблета с большими экранами и эксклюзивной
    начинкой выпустила компания Apple на мировой рынок. Девайсы отличаются уникальным экраном Super Retina, мощным
    набором камер с идеальными портретными функциями, оперативной системой распознавания лиц Face ID.
    Высокопроизводительный процессор Apple A12 Bionic + 4 Gb оперативной памяти – это лучшее сочетание, обеспечивающее
    производительность системы. Для хранения файлов можно взять флеш-память на целых 512 гигабайт!</p>

  <p class="land__title land__title--md">Солидный экран для работы и развлечений</p>
  <div class="land__container land__container--retina">
    <div class="land__grad land__grad--gold">
      <p class="land__text land__text--lg land__color-gradient">Дисплеи гаджетов – Super Retina, созданы на базе
        OLED-технологии. Они 5,8 и 6,5-дюймовые, демонстрируют разрешение 2436х1125 и 2688х1242 пикселей. Картинка
        всегда контрастна и предельно четкая, а при изменении световой обстановки экран легко подстраивается под нее.
      </p>
    </div>
    <img src="img/pic/descriptions/land-1-retina.jpg" alt="iPhone XS">
  </div>
  <div class="land__container land__container--side">
    <img src="img/pic/descriptions/land-1-phone-side.jpg" alt="iPhone XS">
    <div class="land__grad land__grad--violet">
      <p class="land__text land__text--lg land__color-gradient">Материалы премиум-качества
        При производстве iPhone задействовались передовые технологии и эксклюзивные материалы. Стеклянные панели
        высокопрочные, усилены рамкой из хирургической нержавеющей стали. Каждый элемент плотно прилегает к соседним,
        что обеспечивает пылевлагозащиту стандарта IP68.</p>
    </div>
  </div>

  <ul class="land__features">
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--steel">
        <use xlink:href="img/symbol/sprite.svg#land-feature-1"></use>
      </svg>
      <p class="land__text land__text--sm">Стекло высокой прочности. В новом айфоне задействовано самое твердое и
        царапиноустойчивое стекло из всех, которые когда-либо применялись в смартфонах бренда.</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--charging">
        <use xlink:href="img/symbol/sprite.svg#land-feature-2"></use>
      </svg>
      <p class="land__text land__text--sm">Улучшенная беспроводная зарядка. Заряжать стеклянный телефон на станциях
        беспроводной зарядки (стандарт Qi) – сплошное удовольствие. Процесс не занимает много времени и не требует
        задействования проводов.</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--coating">
        <use xlink:href="img/symbol/sprite.svg#land-feature-3"></use>
      </svg>
      <p class="land__text land__text--sm">Уникальная технология окраски. Для обеспечения стеклянным панелям цвета Gold
        или Space Grey задействуется инновационная методика прямой конденсации пара. Краска распределяется максимально
        равномерно, приобретает оригинальный глянцевый отблеск.</p>
    </li>
  </ul>

  <p class="land__title land__title--md">Скорость работы Face ID впечатляет</p>
  <div class="land__container land__container--face-id">
    <div class="land__grad land__grad--gold">
      <p class="land__text land__text--lg land__color-gradient">С улучшенной версией Face ID пользователи могут
        разблокировать свои айфоны в среднем на треть быстрее, чем раньше. Система самообучаема и способна обрабатывать
        данные первичного сканирования. Получить доступ к айфону можно и темной ночью и в яркий солнечный день.</p>
    </div>
    <img src="img/pic/descriptions/land-1-face-id.jpg" alt="iPhone XS">
  </div>

  <picture>
    <source srcset="img/pic/descriptions/land-1-cpu.jpg" media="(min-width: 1179px)">
    <img class="land__image-middle" src="img/pic/descriptions/land-1-cpu-mobile.jpg" alt="cpu">
  </picture>


  <p class="land__title land__title--md">Детализация, контрастность, четкость</p>
  <div class="land__container land__container--camera">
    <div class="land__grad land__grad--violet">
      <p class="land__text land__text--lg land__color-gradient">Основная камера смартфона (12 Мп) выполнена сдвоенной,
        что существенно расширяет ее возможности. Она имеет 2-х кратный оптический зум, эффективно подавляет шумы,
        акцентирует внимание на деталях, может снимать видео 4К. Портретный режим дает возможность корректировать
        глубину резкости.</p>
    </div>
    <img src="img/pic/descriptions/land-1-phone-camera.jpg" alt="iPhone XS">
  </div>

  <div class="land__container land__container--bottom">
    <img src="img/pic/descriptions/land-1-girl-red.jpg" alt="">
    <div class="land__container-content">
      <p class="land__title land__title--sm">Живые фото Smart HDR</p>
      <p class="land__text land__text--sm">Высокопроизводительный процессор и двойная камера творят настоящие чудеса в
        режиме Smart HDR. За одно нажатие они делают серию кадров, в том числе – с затемненной и осветленной
        экспозицией. После система выбирает наиболее эффектные детали из полученных снимков и склеивает их, получая
        настоящий шедевр современной фотографии.</p>
    </div>
  </div>

  <div class="land__container land__container--bottom land__container--reverse">
    <div class="land__container-content land__container-content--reverse">
      <p class="land__title land__title--sm">Портреты и селфи</p>
      <p class="land__text land__text--sm">Камеры смартфона явно ориентированы на съемку людей. И основная, и
        фронтальная поддерживают портретный режим, четко фокусируясь на лице, создавая его структурную карту и слегка
        размывая фон. При желании пользователь может изменять резкость даже в рамках готовой фотографии.</p>
    </div>
    <img src="img/pic/descriptions/land-1-girl-face.jpg" alt="">
  </div>
  <div class="land__video-wrap" data-uk-toggle="target: #popup-video">
    <img class="land__video" src="img/pic/descriptions/land-video.jpg" alt="Video">
  </div>
</div>
