<div class="land land--white">
  <img class="land__image-top" src="img/pic/descriptions/land-2-top.jpg" alt="iPhone XR">
  <p class="land__title land__title--top">iPhone XR</p>
  <p class="land__title land__title--lg land__color-gold">Айфон, умеющий впечатлить!</p>

  <p class="land__text land__text--md land__color-gold">Дисплей от края до края. Самый мощный аккумулятор среди всех
    iPhone. Максимальная производительность. Защита от брызг и воды. Фото студийного качества и видео 4K. Ещё надёжнее с
    Face ID. Новый iPhone XR. Великолепное обновление.</p>

  <p class="land__title land__title--md">Настоящий фаблетовский дисплей</p>
  <div class="land__container land__container--retina">
    <div class="land__grad land__grad--gold">
      <p class="land__text land__text--lg land__color-gradient">Экран Liquid Retina на базе IPS-матрицы с диагональю 6,1
        дюйма, демонстрирует разрешение 1792×828 пикселей. Он устойчив к царапинам, имеет антибликовый эффект. Углы
        обзора неплохие, яркость, контрастность и цветовой баланс – на высоком уровне.</p>
    </div>
    <img src="img/pic/descriptions/land-2-phone-retina.jpg" alt="iPhone XR">
  </div>
  <div class="land__container land__container--side">
    <img src="img/pic/descriptions/land-2-phone-side.jpg" alt="iPhone XR">
    <div class="land__grad land__grad--violet">
      <p class="land__text land__text--lg land__color-gradient">Суперкачество, премиум-дизайн
        Смартфон имеет панели из минерального стекла, переход между которыми – рамка анодированного алюминия. Чтобы
        порадовать потребителей оригинальным дизайном, инженеры Apple предложили целый набор расцветок: от черно-белой
        классики до роскошных кораллового, синего, желтого и красного.</p>
    </div>
  </div>

  <ul class="land__features">
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--coating">
        <use xlink:href="img/symbol/sprite.svg#land-feature-3"></use>
      </svg>
      <p class="land__text land__text--sm">Глубокая и яркая расцветка. Производитель наносил краску на заднюю панель в 7
        слоев, чтобы добиться эффекта мощности цвета.</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--steel">
        <use xlink:href="img/symbol/sprite.svg#land-feature-1"></use>
      </svg>
      <p class="land__text land__text--sm">Аэрокосмические технологии в действии. Рамка смартфона выполняется из
        уникального сплава, применяемого при строительстве космических кораблей!</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--charging">
        <use xlink:href="img/symbol/sprite.svg#land-feature-2"></use>
      </svg>
      <p class="land__text land__text--sm">Сверхспособности зарядки. Благодаря стеклянному корпусу, айфон совместим со
        станциями беспроводной зарядки. Аккумулятор способен работать до 2 суток в умеренном режиме.</p>
    </li>
  </ul>

  <p class="land__title land__title--md">Ускоренный Face ID</p>
  <div class="land__container land__container--face-id">
    <div class="land__grad land__grad--gold">
      <p class="land__text land__text--lg land__color-gradient">Разблокировка смартфона стала еще умнее, быстрее и
        проще. Помимо возможности введения PIN-кода, пользователю доступна улучшенная версия распознавателя лиц Face ID.
        Она задействует фронтальную камеру TrueDepth и в считанные секунды открывает доступ владельцу к содержимому
        смартфона.</p>
    </div>
    <picture>
      <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-2-face-id.jpg">
      <img src="img/pic/descriptions/land-2-face-id-mobile.jpg" alt="iPhone XR">
    </picture>
  </div>

  <picture>
    <source srcset="img/pic/descriptions/land-1-cpu.jpg" media="(min-width: 1179px)">
    <img class="land__image-middle" src="img/pic/descriptions/land-1-cpu-mobile.jpg" alt="cpu">
  </picture>


  <p class="land__title land__title--md">Новое слово в фотографии</p>
  <div class="land__container land__container--camera">
    <div class="land__grad land__grad--violet">
      <p class="land__text land__text--lg land__color-gradient">Основная камера девайса 12-мегапиксельная, одинарная,
        широкоугольная. Она имеет оптическую стабилизацию, светодиодную вспышку, способность работать в условиях плохого
        освещения. При желании можно снимать видео в 4К-качестве. Есть режим "Портрет" с регулировкой глубины резкости.
        Фронталка на 7 Мп делает идеальные селфи, а также пишет ролики в Full HD.</p>
    </div>
    <img src="img/pic/descriptions/land-2-phone-camera.jpg" alt="iPhone XR">
  </div>

  <div class="land__container land__container--bottom">
    <img src="img/pic/descriptions/land-1-girl-red.jpg" alt="">
    <div class="land__container-content">
      <p class="land__title land__title--sm">Со Smart HDR фотоснимки оживают</p>
      <p class="land__text land__text--sm">Со Smart HDR фотоснимки оживают
        Основную камеру смартфона "научили" собирать несколько кадров, сделанных одномоментно, а затем склеивать их в
        один большой памятный снимок. Ожившая картинка получается четкой, детальной, без пересветки и других
        недостатков. Хранить воспоминания в таком формате очень удобно. Они меньше чем видео, но, зачастую намного
        забавнее и естественнее.
      </p>
    </div>
  </div>

  <div class="land__container land__container--bottom land__container--reverse">
    <div class="land__container-content land__container-content--reverse">
      <p class="land__title land__title--sm">Портреты профессионального уровня</p>
      <p class="land__text land__text--sm">Благодаря тому, что камера айфона XR имеет светосилу ƒ/1.8, а также за счет
        особенного портретного режима, она способна делать снимки людей, практически идеальные по качеству. Основной
        камере доступно три варианта съемки, фронтальной – пять. Дополнительно можно корректировать размытие фона,
        выбирать фильтры.</p>
    </div>
    <img src="img/pic/descriptions/land-1-girl-face.jpg" alt="">
  </div>

  <div class="land__video-wrap" uk-toggle="target: #popup-video">
    <img class="land__video" src="img/pic/descriptions/land-video.jpg" alt="Video">
  </div>
</div>
