<div class="land land--7">
  <p class="land__title land__title--top">Вдохновляющий и прекрасный</p>
  <p class="land__text land__text--md land__text--top">Флагман iPhone 7 затмил собой многие модели, выпускавшиеся
    брендом Apple ранее. Он демонстрирует наличие мощного процессора, увеличенного аккумулятора, неплохого комплекта
    камер для съемки фото и видео в высоком разрешении. Внушительная встроенная память, возможность наслаждаться
    стереозвуком, а также суперяркий, пусть и не самый крупный, дисплей Retina HD делает аппарат любимцем многим фанатов
    яблокофонов.</p>
  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-1.jpg">
    <img class="land__image land__image--top" src="img/pic/descriptions/land-7-1-mobile.jpg" alt="iPhone7">
  </picture>

  <p class="land__title land__title--md">Дизайн, который не перестает восхищать</p>
  <p class="land__text land__text--md">Даже спустя некоторое время после выхода нового айфона, пользователи остаются под
    впечатлением дизайнерских решений, воплощенных в этой модели. Аппарат сделан из высококачественного авиационного
    алюминия и прочного стекла, которые минимизируют риск повреждения изделия во время его эксплуатации даже в
    экстремальных услвиях. Простая, но стильная подача новинки, обретает новое звучание за счет мощных расцветок,
    предложенных брендом. Купить смартфон можно в версии "черный матовый", "розовое золото", "серебристый" и "черный
    оникс". Особым шиком считается приобретение именно глянцевого аппарата, на производство которого уходит немало
    времени. Он создается в ходе 9-ступенчатого анодирования и полировки. В процессе обработки металл приобретает
    глубокий и выразительный цвет и блеск.</p>
  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-2.jpg">
    <img class="land__image land__image--design" src="img/pic/descriptions/land-7-2-mobile.jpg" alt="iPhone7">
  </picture>

  <p class="land__title land__title--md">Достоинства сенсорной кнопки</p>
  <p class="land__text land__text--md">Новый формат кнопки "Домой" (сенсор вместо механики) предполагает наличие
    инновационного привода Taptic Engine. За счет такой конструкции пользователю предлагается самостоятельно настроить
    степень отдачи кнопки, полностью откорректировать ее работу под себя.</p>
  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-3.jpg">
    <img class="land__image land__image--home" src="img/pic/descriptions/land-7-3-mobile.jpg" alt="iPhone7">
  </picture>

  <div class="land__container">
    <div class="land__container-content">
      <p class="land__title land__title--md">И в дождь, и в снег всегда со мной</p>
      <p class="land__text">Отказ от кнопки "Домой" и аудиоджека обеспечили новинке высокий уровень защиты от воды и
        пыли. В соответствии со стандартом IP67, айфон может выдерживать кратковременный контакт с жидкостью без
        негативных последствий.</p>
    </div>
  </div>

  <p class="land__title land__title--md">Съемка, приносящая удовольствие</p>
  <p class="land__text land__text--md">Новый iPhone 7 получил мощный комплект камер. Основная имеет разрешение 12
    мегапикселей и характеризуется расширенным цветовым диапазоном. Фотографии, получаемые с ее помощью, очень
    насыщенные, с преобладающими естественными расцветками, живые. Этому способствует шестилинзовый объектив, неплохая
    оптическая стабилизация, хорошая фиксация и проработка деталей. Вспышка True Tone Quad-LED идеальная для получения
    качественных снимков в сумерках или в темное время суток. Фронтальная камера более скромная: разрешение 7 Мп, есть
    автоматическая стабилизация, расширенный цветовой диапазон, поддержка Live Photos.</p>

  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-5.jpg">
    <img class="land__image land__image--camera" src="img/pic/descriptions/land-7-5-mobile.jpg" alt="iPhone7">
  </picture>
  <p class="land__title land__title--md">Уникальный четырехъядерный процессор</p>
  <p class="land__text land__text--md">Одно из главных достижений этой модели айфона – наличие супермощного и
    высокопроизводительного процессора A10 Fusion, личной разработки "яблочного бренда". Он работает на базе 4 ядер и
    характеризуется 64-битной архитектурой. Главная фишка чипсета в том, что он ускоряет выполнение множества привычных
    процессов: от распознания отпечатков пальцев до съемки видео. Оперативная память смартфона составляет 2 гигабайта, в
    то время как для хранения пользовательских данных может быть предоставлено от 32 до 256 Gb. Основному чипсету
    помогает выполнять его работу сопроцессор движения M10. Также разработанный компанией Apple, он отвечает за
    функционирование компаса, барометра, акселерометра и гироскопа.</p>

  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-6.jpg">
    <img class="land__image land__image--cpu" src="img/pic/descriptions/land-7-6-mobile.jpg" alt="iPhone7">
  </picture>
  <p class="land__title land__title--md">Retina HD снова бьет рекорды</p>
  <p class="land__text land__text--md">В распоряжении пользователей седьмого айфона – компактный дисплей на 4,7 дюйма с
    IPS-матрицей. Это уже знакомая фанатам Эппл Retina HD, которая в данной модели демонстрирует разрешение 1334×750
    пикселей, характеризуется уникальной цветопередачей, высокой яркостью и идеальной контрастностью. Экран выгодно
    отличается от предшественников за счет расширенного цветового охвата.</p>

  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-7.jpg">
    <img class="land__image land__image--bright" src="img/pic/descriptions/land-7-7-mobile.jpg" alt="iPhone7">
  </picture>
  <p class="land__title land__title--md">Новое восприятие звука</p>
  <p class="land__text land__text--md">Уникальность данного смартфона состоит в том, что он одним из первых за всю
    историю Эппл получил стереозвук. Максимально четкое, чистое и объемное звучание можно услышать в верхнем разговорном
    и нижнем обычном динамиках. Чтобы подключить наушники (например, идущие в комплекте EarPods), пользователю предстоит
    воспользоваться беспроводным интерфейсом.</p>

  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7-8.jpg">
    <img class="land__image land__image--bottom" src="img/pic/descriptions/land-7-8-mobile.jpg" alt="iPhone7">
  </picture>
</div>
