<div class="land land--six-s">
  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-6s-top.jpg">
    <img class="land__image land__image--top" src="img/pic/descriptions/land-6s-top-mobile.jpg" alt="iPhone 6s">
  </picture>
  <p class="land__title land__title--top">iPhone 6S<br />Новинка, вызывающая восторг</p>
  <p class="land__text land__text--md">Сделать цельноалюминиевый смартфон предельно легким, прочным и совершенным с
    технической точки зрения – непростая задача, но инженеры Apple с ней справились на 100%. iPhone 6S с экраном Retina
    HD получился не просто красивым и надежным, но еще и высокофункциональным. Фронтальная камера делает идеальные
    снимки, батарея способна держать 11 часов в режиме высокой интенсивности эксплуатации. Сканер Touch ID демонстрирует
    мгновенную реакцию.</p>

  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-6s-1.jpg">
    <img class="land__image land__image--touch" src="img/pic/descriptions/land-6s-1-mobile.jpg" alt="iPhone 6s">
  </picture>

  <p class="land__title land__title--md">Всемогущий 3D Touch</p>
  <p class="land__text land__text--md">Впервые в электронике Apple задействуется технология распознавания не только
    длительности нажатия на сенсорный дисплей, но и силы нажатия. Эта разновидность мультитача получила название 3D
    Touch и существенно расширила пользовательские возможности. За счет легкого прикосновения получается активировать
    функцию Peek, при сильном касании – функцию Рор. Примечательно, что мультитач актуален как во внешней среде, так и
    внутри отдельных приложений. С его помощью смартфон становится более универсальным, например, позволяет делать из
    клавиатуры трекпад.</p>

  <p class="land__title land__title--md land__title--left">Камеры с супер-функционалом</p>
  <p class="land__text land__text--md land__text--left">В качестве базовой камеры девайса используется мощная iSight с
    разрешением 12 Мп. Она демонстрирует оптический зум, способность делать супер-фото в любых условиях, а также снимать
    видео в невероятном качестве 4К (3840 на 2160 пикселей, 30 кадров в секунду). Фронтальная камера на 5 Мп радует не
    только высоким качеством селфи, но и наличием собственной вспышки оригинального исполнения. Особой фишкой девайса
    стала функция Live Photos, позволяющая "оживить фотоснимки" за счет составления короткого ролика из нескольких
    кадров, сделанных последовательно друг за другом.</p>
  <img class="land__image land__image--camera" src="img/pic/descriptions/land-6s-2.jpg" alt="iPhone 6s">

  <div class="land__container-gray">
    <p class="land__title land__title--md land__title--right">Процессор превосходит все ожидания</p>
    <p class="land__text land__text--md land__text--right">В качестве сердца смартфона используется новый чипсет Apple
      А9, который по заявлению разработчика на 70% эффективнее аналогов, использовавшихся в предыдущих версиях. В помощь
      процессору предусматривается 2 гигабайта оперативной памяти. Выросла производительность функционирования и у
      сопроцессора, благодаря которому работают барометр, компас, акселерометр и гироскоп. Флеш-накопитель имеет объем в
      пределах от 16 до 128 Gb.</p>
    <picture>
      <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-6s-3.jpg">
      <img class="land__image land__image--cpu" src="img/pic/descriptions/land-6s-3-mobile.jpg" alt="iPhone 6s">
    </picture>
  </div>

  <div class="land__container land__container-bottom">
    <div class="land__container-content">
      <p class="land__title land__title--md">Совершенный Touch ID</p>
      <p class="land__text land__text--md">С целью обеспечения максимальной безопасности пользовательских данных, айфон
        имеет<br>систему защиты Touch ID нового поколения. Сканер отпечатков пальцев встроили<br>в механическую
        четырехслойную клавишу "Домой", расположенную под<br>экраном, предварительно закрыв ее прочным сапфировым
        стеклом<br>в кольце-детекторе. Сенсор идентификации демонстрирует более<br> тонкое исполнение и высокую скорость
        работы. На процедуру <br>распознавания биометрии уходят считанные секунды,<br>данные распознаются без задержки,
        зайти<br>в телефон получается практически <br>мгновенно!</p>
    </div>
    <picture>
      <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-6s-4.jpg">
      <img class="land__image land__image--bottom" src="img/pic/descriptions/land-6s-4-mobile.jpg" alt="iPhone 6s">
    </picture>
  </div>
</div>
