<div class="land land--x">
  <img class="land__image land__image-top" src="img/pic/descriptions/land-x-top.jpg" alt="iPhoneX">
  <p class="land__title land__title--top">iPhone&nbsp;X</p>
  <p class="land__title land__title--lg">Технологии на грани фантастики</p>
  <p class="land__text land__text--md">Новый iPhone X – безусловный флагман, в котором сконцентрированы лучшие
    достижения Apple на данный момент времени. Снабженный оперативной памятью в 3 Гб и мощным 6-ядерным процессором A11
    Bionic, выполняющим 600 миллиардов операций в секунду, девайс работает так быстро и слаженно, насколько это в
    принципе возможно. Заряжать телефон можно как с помощью проводов, так и купив специальную станцию. Двойной несъемный
    аккумулятор на 2716 мА/ч вполне можно отнести к долгоиграющим. Айфон X считается одним из самых легких фаблетов,
    который не уступает собратьям по функциональности. Смартфон оснащен массой инновационных функций: от сверхточного
    сканера лиц до поддержки технологий дополненной реальности в ряде приложений и игр. Впервые за историю бренда, Apple
    применил экран OLED, обеспечивающий уникальное качество изображения. Дактилоскопический сканер заменили на
    распознавателя лиц TrueDepth.</p>
  <img class="land__image land__image-big" src="img/pic/descriptions/land-x-big.jpg" alt="iPhoneX">

  <div class="land__container land__container--characteristic">
    <div class="land__container-content">
      <p class="land__title land__title--md">Экран, который вдохновляет</p>
      <ul class="list list--green">
        <li class="list__item">Дисплей Retina HD имеет разрешение в 2436×1125 пикселей при диагонали 5,8 дюйма.</li>
        <li class="list__item">Экран подстраивается под окружающее освещение за счет функции True Tone.</li>
        <li class="list__item">Реализована поддержка HDR, выводящая на максимум контрастность картинки, без потери
          детализации.</li>
        <li class="list__item">Полноэкранный режим дарит мегаощущения от видео или листания фотогалереи.</li>
      </ul>
    </div>
    <img class="land__image" src="img/pic/descriptions/land-x-characteristic.jpg" alt="iPhoneX">
  </div>

  <ul class="land__features">
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--steel">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature1"></use>
      </svg>
      <p class="land__text land__text--sm">Основная и фронтальная камеры позволяют снимать&nbsp;портреты
        профессионального&nbsp;уровня</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--charging">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature2"></use>
      </svg>
      <p class="land__text land__text--sm">Face ID обеспечит защищенный&nbsp;вход в&nbsp;систему&nbsp;владельца айфона&nbsp;и&nbsp;его доверенных
        лиц</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--coating">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature3"></use>
      </svg>
      <p class="land__text land__text--sm">A11 Bionic – процессор, не знающий себе равных по мощности и быстродействию
      </p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--coating">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature4"></use>
      </svg>
      <p class="land__text land__text--sm">Беспроводная зарядка (стандарт Qi). Для нее рекомендуется применять Air
        Power.</p>
    </li>
  </ul>

  <div class="land__container land__container--features">
    <img class="land__image" src="img/pic/descriptions/land-x-features.jpg" alt="iPhoneX">
    <div class="land__container-content">
      <p class="land__title land__title--md">Уникальные особенности</p>
      <ul class="list list--green">
        <li class="list__item">В основе аппарата – стекло и сталь – идеальный тандем, гарантирующий как эффектный
          дизайн, так и высокую степень защищенности девайса.</li>
        <li class="list__item">Айфон способен работать порядка 12 часов в режиме средней интенсивности.</li>
        <li class="list__item">Дисплей, занимающий всю верхнюю панель девайса – это уникальная возможность наслаждаться
          картинкой без каких бы то ни было помех!</li>
        <li class="list__item">Снимать видео супер-качества можно на обе камеры: первая поддерживает 4K, вторая – Full
          HD.</li>
        <li class="list__item">Максимальный объем встроенной памяти – впечатляющие 256 Гигабайт.</li>
        <li class="list__item">Высокая степень защищенности аппарата от пыли и воды зафиксирована в лабораториях бренда.
          Подтвержденный стандарт – IP67.</li>
      </ul>
    </div>
  </div>

  <div class="land__container land__container--bottom">
    <div class="land__container-content">
      <p class="land__title land__title--md">Пробудите в себе фотохудожника!</p>
      <p class="land__text land__text--sm">Камеры помогают запечатлеть реальность в лучшем виде. Основная на 12 Мп –
        двойная, снабжена широкоугольным и телеобъективом – она не только позволяет делать фото более четкими за счет
        оптической стабилизации изображения, но и обеспечивает возможность снимать удаленные объекты с 2-кратным
        оптическим и 10-кратным цифровым зумом. Вспышка True Tone Quad-LED с длинной выдержкой и большой частотой
        импульсов подсвечивает объект, без затемнения фона. Селфи-камеру на 7 Мп назвали TrueDepth, она снимает фото с
        эффектом глубины резкости. Для любителей портретов реализована спецфункция с возможностью выбора типа
        используемого света.</p>
    </div>
    <img class="land__image" src="img/pic/descriptions/land-x-bottom.jpg" alt="">
  </div>
</div>
