<div class="land land--8plus">
  <picture>
    <source media="(max-width: 959px)" srcset="img/pic/descriptions/land-8-top-mobile.jpg">
    <img class="land__image land__image-top" src="img/pic/descriptions/land-8-top.jpg" alt="iPhone8">
  </picture>
  <p class="land__title land__title--lg">Безупречный красавец с огромным потенциалом</p>
  <p class="land__text land__text--md">Смартфон iPhone 8 Plus, представленный в трех расцветках (золото, серебро и серый
    космос), с первого взгляда покорил пользователя качеством своего исполнения, мощным 6-ядерным процессором A11
    Bionic, эффектным экраном на IPS-матрице. А стеклянные панели обеспечили ему совместимость с модулями для
    беспроводной зарядки. Девайс отлично держит заряд даже в условиях интенсивной работы и обеспечивает максимум
    комфорта каждому, кто берет его в руки.</p>

  <div class="land__container land__container--characteristic">
    <div class="land__container-content">
      <p class="land__title land__title--md">Основные характеристики</p>
      <ul class="list list--green">
        <li class="list__item">IPS-экран 5,5 дюймов поддерживает технологию True Tone</li>
        <li class="list__item">Стеклянный корпус дополнен алюминиевой рамкой</li>
        <li class="list__item">Реализована поддержка видео в форматах HDR10 и Dolby Vision</li>
        <li class="list__item">Высококлассная защита от влаги и пыли (стандарт IP67)</li>
        <li class="list__item">Скоростная зарядка Fast Charging</li>
      </ul>
    </div>
    <img class="land__image" src="img/pic/descriptions/land-8plus-characteristic.jpg" alt="iPhone8">
  </div>

  <ul class="land__features">
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--steel">
        <use xlink:href="img/symbol/sprite.svg#land-8-feature1"></use>
      </svg>
      <p class="land__text land__text--sm">Сканер отпечатков пальцев Touch ID защищает систему от несанкционированного
        доступа</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--charging">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature3"></use>
      </svg>
      <p class="land__text land__text--sm">Оригинальный чипсет A11 Bionic (6 ядер) считается одним из самых
        интеллектуально продвинутых процессоров бренда</p>
    </li>
    <li class="land__feature">
      <svg class="land__feature-image land__feature-image--coating">
        <use xlink:href="img/symbol/sprite.svg#land-x-feature4"></use>
      </svg>
      <p class="land__text land__text--sm">Беспроводная зарядка доступна при наличии зарядных станций, поддерживающих
        стандарт Qi</p>
    </li>
  </ul>

  <div class="land__container land__container--4k">
    <img class="land__image" src="img/pic/descriptions/land-8plus-4k.jpg" alt="iPhone8">
    <div class="land__container-content">
      <p class="land__title land__title--md">Умопомрачительный экран Retina HD</p>
      <p class="land__text land__text--sm">Новый айфон обзавелся 5,5-дюймовым дисплеем, имеющим разрешение 1920 на 1080
        точек. Он имеет высокий потенциал яркости и улучшенную цветопередачу. Двухдоменные пиксели позволяют
        рассматривает изображение под любым углом. Опция адаптации цветовой температуры True Tone автоматически
        подстраивает яркость картинки, ориентируясь по ситуации. И в темной комнате, и в яркий день содержимое дисплея
        выглядит идеально.</p>
    </div>
  </div>

  <div class="land__container land__container--bottom">
    <div class="land__container-content">
      <p class="land__title land__title--md">Съемка, которая приносит удовольствие</p>
      <p class="land__text land__text--sm">Основная камера на 12 мегапикселей выполнена в виде двухобъективной, она
        поддерживает оптический зум, отлично справляется с задачей шумоподавления, одинаково хорошо выполняет свою
        работу, как при дневном свете, так и в сумерках или в плохую погоду. Благодаря мощному процессору съемка стала
        интереснее, появилась возможность имитировать студийное освещение. Функция Slow Sync гарантирует создание кадров
        с идеальной экспозицией. Дополняется картина неплохой селфи-камерой на 7 Мп, которая заполнит галерею множеством
        отличных автопортретов.</p>
    </div>
    <img class="land__image" src="img/pic/descriptions/land-8plus-bottom.jpg" alt="8">
  </div>
</div>
