<div class="description description--iphonese">
  <div class="description__section description__section--1">
    <div>
      <img src="img/pic/descriptions/iphonese-1.jpg" alt="">
    </div>
    <div>
      <span>iPhone SE <br>Мощь в классическом формфакторе</span>
      <p>iPhone SE (Special Edition) пришел на смену младшей модели линейки купертиновских смартфонов iPhone 5S. Apple
        поместила мощь флагманского 6S в компактный корпус. Результатом сочетания передового процессора A9, отличной
        камеры iSight на 12 Мп и полюбившегося дизайна стал самый мощный 4-дюймовый смартфон.</p>
    </div>
  </div>

  <div class="description__section description__section--2">
    <div>
      <img src="img/pic/descriptions/iphonese-2.jpg" alt="">
    </div>
    <div>
      <span>Производительность</span>
      <p>За потрясающую скорость работы и время отклика iPhone SE, как и модели iPhone 6S, отвечает передовой процессор
        А9 с 64‑битной архитектурой. Графика, сопоставимая по производительности с игровыми консолями, гарантирует
        полное погружение в мир любимых приложений и игр. Трекинг движений, сбор данных для фитнес-приложений и
        постоянное функционирование опции «Привет, Siri» обеспечивает сопроцессор М9.</p>
    </div>
  </div>

  <div
    class="description__section description__section--3 uk-flex uk-flex-column@s uk-flex-middle uk-child-width-1-2@l">
    <div>
      <img src="img/pic/descriptions/iphonese-3.jpg" alt="">
    </div>
    <div>
      <span>Дизайн</span>
      <p>Дизайн iPhone SE – это не только привычная легкость и утонченность линий, а и следующая ступень его развития.
        Легкий алюминиевый корпус с матовыми скошенными гранями. Логотип компании из нержавеющей стали с отливом в тон
        корпуса. Теперь и в цвете «Розовое золото». Картинка на 4-дюймовом дисплее Retina яркая и четкая – разрешение
        составляет 1136 x 640. Корпус также представлен в традиционных цветах: «Серый космос», серебристый и золотой.
        Теперь iPhone SE можно купить и в цвете «Розовое золото».</p>
    </div>
  </div>

  <div
    class="description__section description__section--4 uk-flex uk-flex-column-reverse@s uk-flex-middle uk-child-width-1-2@l">
    <div>
      <span>Камеры</span>
      <p>Основная 12-мегапиксельная камера iSight снимает с повышенной четкостью и записывает видео 4К (с частотой 30
        кадров), разрешение которого в четыре раза выше HD. Видео Full HD записывается с частотой 60 кадров. Теперь
        экспозиция 63-мегапиксельных панорамных снимков выставляется автоматически и система «сшивает» кадры
        автоматически. Live Photos – 3-секундные ожившие фотографии – активируется прикосновением к снимку в любой
        точке.Благодаря вспышке Retina Flash и фронтальной HD-камере FaceTime качественные селфи получатся даже в
        темноте. Все сделанные снимки и видеозаписи можно хранить в медиатеке iCloud – наслаждайтесь просмотром контента
        в любой момент с удобного для вас устройства.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphonese-4.jpg" alt="">
    </div>
  </div>

  <div
    class="description__section description__section--5 uk-flex uk-flex-column@s uk-flex-middle uk-child-width-1-2@l">
    <div>
      <img src="img/pic/descriptions/iphonese-5.jpg" alt="">
    </div>
    <div>
      <span>Touch ID</span>
      <p>Улучшенная безопасность вашего гаджета – сканер отпечатков пальцев Touch ID – надежно защитит личные данные.
        Чтобы разблокировать iPhone SE, достаточно одного прикосновения.</p>
    </div>
  </div>

</div>
