<div class="description description--airpodspro">
  <div class="description__section description__section--1">
    <div>
      <img src="img/pic/descriptions/airpodspro-1.jpg" alt="">
    </div>
    <div>
      <span>Новые AirPods Pro</span>
      <p>Увеличенное время работы в режиме телефонного разговора. Активация Siri с помощью голоса. Новый футляр с
        возможностью беспроводной зарядки. Всё это AirPods — уникальные беспроводные наушники. Они подойдут ко всем
        вашим устройствам. Достаньте их из футляра, и сразу можете пользоваться.</p>
    </div>
  </div>

  <div class="description__section description__section--2">
    <div>
      <img src="img/pic/descriptions/airpodspro-2.jpg" alt="">
    </div>
    <div>
      <span>Комфорт. <br>Вашим ушам это по душе.</span>
    </div>
  </div>

  <div
    class="description__section description__section--3 uk-flex uk-flex-middle uk-flex-column-reverse@s uk-child-width-1-2@l">
    <div>
      <p>Это наушники совершенно нового класса. AirPods Pro исключительно комфортны, в них реализована технология
        активного шумоподавления, и можно даже выбрать вкладыши своего размера. Вы будете лучше чувствовать музыку, а не
        наушники.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/airpodspro-3.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--4">
    <div>
      <p>В комплекте три пары мягких силиконовых вкладышей, которые легко фиксируются на наушнике.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/airpodspro-4.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--5">
    <div>
      <p>Наружный микрофон улавливает внешние шумы.</p>
      <p>Эти шумы компенсируются <span>обратной</span> звуковой волной той же амплитуды — прежде чем вы их услышите.</p>
      <p>Активное шумоподавление анализирует аудио с частотой 200 раз в секунду. Ничто не будет отвлекать вас от музыки,
        подкастов и телефонных разговоров.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/airpodspro-5.jpg" alt="">
    </div>
  </div>

  <div
    class="description__section description__section--6 uk-flex uk-flex-middle uk-flex-column@s uk-child-width-1-2@l">
    <div>
      <img src="img/pic/descriptions/airpodspro-6.jpg" alt="">
    </div>
    <div>
      <span>Вы только <br>послушайте.</span>
      <p>Адаптивный эквалайзер автоматически регулирует параметры звука с учётом формы уха, создавая превосходное,
        неизменно богатое звучание.</p>
    </div>
  </div>

  <div class="description__section description__section--7">
    <div>
      <picture>
        <source srcset="img/pic/descriptions/airpodspro-7-mobile.jpg" media="(max-width: 1249px)">
        <img src="img/pic/descriptions/airpodspro-7.jpg" alt="">
      </picture>
    </div>
  </div>

  <div class="description__section description__section--8 uk-flex uk-flex-middle uk-flex-column@s uk-child-width-1-2@l">
    <div>
      <img src="img/pic/descriptions/airpodspro-8.jpg" alt="">
    </div>
    <div>
      <p>Чип H1, разработанный Apple, оснащён 10 ядрами и позволяет воспроизводить аудио с минимальной задержкой.
        Благодаря этому шумоподавление работает в реальном времени.</p>
      <p>System in Package — тщательно продуманная система, каждый компонент которой создан с учётом строения
        человеческого уха для максимального комфорта и стабильно качественного звучания.</p>
      <p>С помощью датчика нажатия можно легко управлять музыкой и звонками, а также переключаться с активного
        шумоподавления на Прозрачный режим или наоборот.</p>
    </div>
  </div>

  <div class="description__section description__section--9">
    <div>
      <picture>
        <source srcset="img/pic/descriptions/airpodspro-9-mobile.jpg" media="(max-width: 1249px)">
        <img src="img/pic/descriptions/airpodspro-9.jpg" alt="">
      </picture>
    </div>
  </div>

  <div class="description__section description__section--10">
    <div>
      <p>Благодаря функции «Совместный доступ к аудио» вы сможете слушать песни, подкасты и любое другое аудио вместе с
        другом через две пары наушников AirPods</p>
    </div>
    <div>
      <img src="img/pic/descriptions/airpodspro-10.png" alt="">
    </div>
  </div>

</div>
