<div class="land land--7plus">
  <p class="land__title land__title--top">Идеальный смартфон для фотографов</p>
  <p class="land__text land__text--md land__text--top">Презентуя iPhone 7 Plus, его разработчики не преминули
    обозначить, что эта новинка нацелена на пользователей, которые не мыслят своей жизни без фотосъемки. Гаджет получил
    мощный чипсет Apple A10 Fusion, пару сдвоенных камер с целым багажом функций, дисплей Retina HD на 5,5 дюймов с
    идеальной цветопередачей, достаточный объем места для хранения файлов (256 Гб). Смартфон имеет эксклюзивный дизайн,
    снабжен стереодинамиками и неплохо защищен от повреждений и воды.</p>
  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-7plus-1.jpg">
    <img class="land__image land__image--top" src="img/pic/descriptions/land-7plus-1-mobile.jpg" alt="iPhone7 Plus">
  </picture>
  <p class="land__title land__title--md">«Черный оникс» и другие дизайны</p>
  <p class="land__text land__text--md">Одна из центральных фишек Айфона 7 Plus заключается в его элегантном и ни на что
    не похожем дизайне. В качестве материала для корпуса был задействован высокопрочный алюминий 7000-й серии – тот
    самый, что используют авиаконструкторы. Аппарат получился надежным, не склонным к повреждениям даже при случайном
    выпадении из рук. Но больше всего пользователям полюбились расцветки девайса: черный матовый, розовое золото,
    серебро и безусловный лидер – «черный оникс». Последний имеет особенно глубокий цвет и блестящий глянец. Чтобы
    добиться данного эффекта производитель прибегнул к многоступенчатому анодированию и длительной полировке.</p>

  <img class="land__image land__image--design" src="img/pic/descriptions/land-7plus-2.jpg" alt="iPhone7 Plus">

  <p class="land__title land__title--md">Удобство обновленной кнопки «Домой»</p>
  <p class="land__text land__text--md">Одним из ключевых новшеств этой модели выступает улучшенная версия центральной
    кнопки смартфона. Клавиша «Домой» перестала быть механической и превратилась в сенсорную, к тому же – восприимчивую
    к силе нажатия. Большой плюс – ее отклик можно откорректировать под свои потребности.</p>

  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-7plus-3.jpg">
    <img class="land__image land__image--home" src="img/pic/descriptions/land-7plus-3-mobile.jpg" alt="iPhone7 Plus">
  </picture>

  <div class="land__container">
    <img class="land__image land__image--watertightness" src="img/pic/descriptions/land-7plus-4.jpg" alt="iPhone7 Plus">
    <div class="land__container-content">
      <p class="land__title land__title--md">Вода теперь не помеха!</p>
      <p class="land__text">Смартфон iPhone 7 Plus защитили от проникновения внутрь конструкции влаги и пыли. Стандарт
        IP67 позволяет эксплуатировать девайс поблизости от фонтанов и поливалок и даже во время дождя. А если аппарат
        случайно упадет в воду, он тоже не пострадает от плотного контакта с влагой.</p>
    </div>
  </div>

  <p class="land__title land__title--md">Супервозможности фотосъемки</p>
  <p class="land__text land__text--md">Айфон 7 Plus недаром носит статус камерофона. Он снабжен мощной сдвоенной
    камерой, в которой широкоугольный объектив демонстрирует диафрагму ƒ/1.8, в то время как телеобъектив снабжен
    диафрагмой ƒ/2.8. Встроенная конструкция обеспечивает возможность съемки как приближенных, так и удаленных объектов
    в максимальном качестве. За приближение отвечают 2 вида зума: оптический двухкратный и цифровой десятикратный. Чтобы
    окончательно убедить пользователя в правильности его выбора, камера также оснащена шестилинзовым объективом,
    оптическим стабилизатором, функцией панорамной съемки, системой контроля экспозиции.</p>

  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7plus-5.jpg">
    <img class="land__image land__image--camera" src="img/pic/descriptions/land-7plus-5-mobile.jpg" alt="iPhone7 Plus">
  </picture>
  <p class="land__title land__title--md">Долгоиграющий аккумулятор</p>
  <p class="land__text land__text--md">В конструкции смартфона присутствует встроенный литий-ионный аккумулятор на 2900
    мАч. Он демонстрирует рекордные сроки автономной работы. В режиме средней интенсивности аппарат готов продержаться
    около суток, а с минимальным количеством задач – 384 часа! Среднестатистические пользователи заряжают свой смартфон
    примерно один раз в 1,5-2 дня.</p>

  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-7plus-6.jpg">
    <img class="land__image land__image--zoom" src="img/pic/descriptions/land-7plus-6-mobile.jpg" alt="iPhone7 Plus">
  </picture>

  <p class="land__title land__title--md">Функции зеркального фотоаппарата</p>
  <p class="land__text land__text--md">Наличие основной сдвоенной камеры в конструкции смартфона iPhone 7 Plus
    обеспечило ему множество новых возможностей. В частности – способность снимать кадры с размытием фона и эффектом
    боке, который ранее был доступен лишь в "зеркалках". Задействуя инновационные алгоритмы, система фокусируется на
    ключевом объекте или предмете, слегка размывая задний фон. Такие снимки выглядят очень мощно, модно и
    профессионально. Идеально для Instagram.</p>

  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-7plus-7.jpg">
    <img class="land__image land__image--horizontal" src="img/pic/descriptions/land-7plus-7-mobile.jpg"
      alt="iPhone7 Plus">
  </picture>

  <p class="land__title land__title--md">Фантастическая производительность</p>
  <p class="land__text land__text--md">За производительность мобильного телефона отвечает сразу несколько встроенных
    решений: четырехъядерный 64-битный процессор Apple A10 Fusion с 3,3 миллиардами транзисторов, его сопроцессор M10
    (отвечает за отслеживание передвижений аппарата в пространстве), а также шестиядерный графический чип PowerVR.
    Оперативная память равна 4 Gb, а максимально возможный объем флеш-памяти – 256 гигабайт. Это внушительный послужной
    список, который превращает смартфон в чудо современной электроники. Устройство без проблем запускает любые программы
    и игры, не тратя на этот процесс много времени. Даже 3D-игры требуют всего несколько секунд для загрузки. За счет
    такого быстродействия iPhone 7 Plus уже стал любимцем геймеров.</p>

  <picture>
    <source media="(min-width: 750px)" srcset="img/pic/descriptions/land-7plus-8.jpg">
    <img class="land__image land__image--cpu" src="img/pic/descriptions/land-7plus-8-mobile.jpg" alt="iPhone7 Plus">
  </picture>

  <p class="land__title land__title--md">Революционный экран Retina HD</p>
  <p class="land__text land__text--md">Создавая дисплей для смартфона, Apple сделал ставку на инновации. Retina HD
    получился суперярким, контрастным, с расширенными углами обзора, мощным цветовым охватом и поддержкой Multi-Touch.
    Экран имеет размеры 5,5 дюймов, разрешение 1920 на 1080 точек. Он считается одним из самых ярких и точно передающих
    цвета в коллекции разработок бренда.</p>

  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-7plus-9.jpg">
    <img class="land__image land__image--bright" src="img/pic/descriptions/land-7plus-9-mobile.jpg" alt="iPhone7 Plus">
  </picture>

  <p class="land__title land__title--md">Великолепное стерео</p>
  <p class="land__text land__text--md">Айфон 7 Plus – находка для меломанов. Он первый в своей линейке получил настоящие
    стереодинамики, причем сразу пару: на нижнем торце и в разговорном отверстии. Каждый из них обеспечивает идеально
    чистый, громкий и объемный звук, перед которым невозможно устоять. А если подключить комплектные EarPods, используя
    разъем Lightning, то можно наслаждаться любимыми треками non-stop.</p>
  <picture>
    <source media="(min-width: 1179px)" srcset="img/pic/descriptions/land-7plus-10.jpg">
    <img class="land__image land__image--bottom" src="img/pic/descriptions/land-7plus-10-mobile.jpg" alt="iPhone7 Plus">
  </picture>
</div>
