<div class="description description--iphone11">
  <div
    class="description__section description__section--1 uk-flex uk-flex-column@s uk-flex-middle uk-child-width-1-2@l">
    <div>
      <img src="img/pic/descriptions/iphone11-1.jpg" alt="">
    </div>
    <div class="uk-flex uk-flex-column">
      <span>iPhone 11</span>
      <span>Технологии будущего <br>уже сегодня</span>
      <p>Элегантный дизайн<br>
        Прочный корпус из цельнолистового стекла и алюминия<br>
        Инновационная система камер<br>
        Безрамочный дисплей Liquid Retina HD<br>
        Надежная защита от воды<br>
        Рекордное время автономной работы<br>
        Уникальный процессор A13 Bionic<br>
        Новый уровень защиты данных</p>
    </div>
  </div>

  <div
    class="description__section description__section--2 uk-flex uk-flex-column@s uk-flex-middle uk-child-width-1-2@l">
    <div class="uk-flex uk-flex-column">
      <span>Идеальные фото <br>в любых условиях</span>
      <p>Инновационный тандем сверхширокоугольной и широкоугольной камер позволяет превратить практически любой кадр в
        прекрасное фото студийного качества. Не ограничивайте свой творческий потенциал, снимайте при недостаточной
        освещенности и под разными ракурсами, помещайте в кадр в 4 раза больше видов и впечатлений, запечатлевайте
        масштабные сцены, портреты и безграничные пейзажи.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11-2.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--3 uk-flex uk-flex-column uk-flex-center">
    <div class="uk-flex uk-flex-column">
      <span>Режим портретрной съемки</span>
      <p>Портретный режим с шестью вариантами освещения и функцией автокоррекции сделает из любого фото превосходный
        портрет. Новый эффект «Светлая тональность — ч/б» позволит получить стильное черно – белое фото , ничем
        неотличимое от профессиональной работы.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11-3.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--4 uk-flex uk-flex-column uk-flex-center">
    <div class="uk-flex uk-flex-column">
      <span>Снимайте и редактируйте видео</span>
      <p>Чтобы перейти от режима фото к режиму видео, достаточно зажать кнопку затвора на несколько секунд. Для
        продолжения видеосъемки проведите по экрану вправо, для возврата к фоторежиму проведите влево. iPhone 11 снимает
        плавные детализированные видео 4К с частотой 60 кадров в секунду. Используйте большой выбор фильтров и функций,
        обрезайте и поворачивайте отснятый материал, пользуйтесь всеми возможностями, чтобы получить идеальный ролик.
      </p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11-4.jpg" alt="">
    </div>
  </div>

  <div
    class="description__section description__section--5 uk-flex uk-flex-column-reverse@s uk-flex-middle uk-child-width-1-2@l">
    <div>
      <img src="img/pic/descriptions/iphone11-5.jpg" alt="">
    </div>
    <div class="uk-flex uk-flex-column">
      <span>Яркий дисплей для ярких впечатлений</span>
      <p>Дисплей Liquid Retina HD обладает потрясающей цветопередачей и великолепной детализацией. Любое изображение на
        дисплее выглядит живым, насыщенным, контрастным. Благодаря высокой яркости вы сможете с комфортом смотреть видео
        и редактировать фото даже безоблачным днем. Технология True Tone настраивает баланс белого в зависимости от
        освещения, чтобы повысить комфорт восприятия изображения.</p>
    </div>
  </div>

  <div class="description__section description__section--6 uk-flex uk-flex-column uk-flex-center">
    <div class="uk-flex uk-flex-column">
      <span>Непревзойденный A13 Bionic</span>
      <p>Самый быстрый процессор iPhone способен обрабатывать свыше триллиона операций в секунду, что позволяет iPhone
        11 выполнять сложнейшие операции еще быстрее. Ядра производительности и эффективности работают более эффективно,
        расходуя при этом меньше энергии. Графический процессор обладает увеличенной производительностью, чтобы вы могли
        пользоваться новыми технологиями дополненной реальности и играть в любые ресурсоемкие современные игры.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11-6.jpg" alt="">
    </div>
  </div>

  <div
    class="description__section description__section--7 uk-flex uk-flex-column-reverse@s uk-flex-middle uk-child-width-1-2@l">
    <div>
      <picture>
        <source srcset="img/pic/descriptions/iphone11-7-mobile.jpg" media="(max-width: 1249px)">
        <img src="img/pic/descriptions/iphone11-7.jpg" alt="">
      </picture>
    </div>
    <div class="uk-flex uk-flex-column">
      <span>Целый день <br>без подзарядки</span>
      <p>iPhone 11 работает до 17 часов в режиме воспроизведения видео на одном заряде. Такой рекордный показатель стал
        достижим благодаря усовершенствованию эффективности и производительности, а также оригинальной системе
        управления мощностью от Apple. Быстрая зарядка позволяет подзарядить телефон на 50 % всего за 30 минут. Надоело
        возиться с проводами? Используйте возможности беспроводной зарядки и поместите ваш iPhone на устройство
        стандарта Qi.</p>
    </div>
  </div>

  <div class="description__section description__section--8 uk-flex uk-flex-column uk-flex-center">
    <div class="uk-flex uk-flex-column">
      <span>Лучшая защита от воды</span>
      <p>iPhone 11 не испугается таких неприятностей, как дождь или пролитый кофе. Его корпус надежно герметизирован и
        выдерживает погружение на глубину до 2 метров на 30 минут
        без потери работоспособности.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11-8.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--9 uk-flex uk-flex-column@s uk-flex-middle uk-child-width-1-2@l">
    <div class="uk-flex uk-flex-column">
      <span>Личная информация под защитой</span>
      <p>Дисплей Liquid Retina HD обладает потрясающей цветопередачей и великолепной детализацией. Любое изображение на
        дисплее выглядит живым, насыщенным, контрастным. Благодаря высокой яркости вы сможете с комфортом смотреть видео
        и редактировать фото даже безоблачным днем. Технология True Tone настраивает баланс белого в зависимости от
        освещения, чтобы повысить комфорт восприятия изображения.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11-9.jpg" alt="">
    </div>
  </div>

</div>
