<div class="description description--iphone11pro">
  <div class="description__section description__section--1">
    <span>Это прорыв.</span>
    <p>Революционная система трёх камер — гораздо больше возможностей и неизменная простота в использовании.
      Беспрецедентное увеличение ресурса аккумулятора. И потряса­ющий процессор с расши­ренной поддержкой технологий
      машинного обучения, который открывает для iPhone большие новые перспек­тивы. Apple представляет iPhone 11 Pro Max.
      Он достоин своего имени.</p>
    <img src="img/pic/descriptions/iphone11pro-1.jpg" alt="">
  </div>

  <div class="description__section description__section--2 uk-flex">
    <div>
      <img src="img/pic/descriptions/iphone11pro-2.jpg" alt="">
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11pro-3.jpg" alt="">
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11pro-4.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--3 uk-flex uk-flex-column@s uk-child-width-1-2@l">
    <div class="uk-flex uk-flex-column">
      <span>Посмотрите поближе.</span>
      <p>Два размера. Четыре цвета. Корпус из стекла и нержавеющей стали.</p>
    </div>
    <div>
      <img src="img/pic/descriptions/iphone11pro-5.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--4">
    <p><span>Система<br> камер Pro</span><br> Великолеп­ная<br> тройка.</p>
    <img src="img/pic/descriptions/iphone11pro-6.jpg" alt="">
  </div>

  <div
    class="description__section description__section--5 uk-flex uk-flex-column@s uk-child-width-1-2@l uk-flex-between">
    <p>Знакомьтесь: первая в мире система трёх камер, в которой новейшие технологии реализованы с традиционными для
      iPhone простотой и элегантностью. Максимальная область изображения теперь в четыре раза больше. Красивый снимок
      можно получить практически в темноте. Качество видео превосходит все ожидания, а редактировать его можно теми же
      инструментами, которыми вы пользуетесь для обработки фото. Теперь вы будете снимать как профессионал.</p>
    <div>
      <img src="img/pic/descriptions/iphone11pro-7.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--6">
    <ul class="uk-flex uk-flex-column@s uk-child-width-1-3@l uk-flex-between">
      <li>
        <span>Широкоугольная камера</span>
        <p>Фокусное расстояние 26 мм Диафрагма ƒ/1.8 Шестилинзовый объектив Оптическая стабилизация изображения
          Поддержка Focus Pixels на всей матрице Новая матрица 12 Мп</p>
      </li>

      <li>
        <span>Сверхширокоугольная камера</span>
        <p>Фокусное расстояние 13 мм Диафрагма ƒ/2.4 Пятилинзовый объектив Угол обзора 120° В 4 раза больше в объективе
          Матрица 12 МП</p>
      </li>

      <li>
        <span>Телефотокамера</span>
        <p>Фокусное расстояние 52 мм Диафрагма ƒ/2.0 Шестилинзовый объектив Оптическая стабилизация изображения
          Двукратный оптический зум Матрица 12 Мп</p>
      </li>
    </ul>
  </div>

  <div class="description__section description__section--7">
    <p>Элегантный прозрачный интерфейс. В нём используются возможности сверхширокоугольной камеры — теперь вы видите,
      что происходит за пределами кадра, и можете моментально это снять. Между вами и объектом съёмки нет практически
      ничего, кроме минималистичного интерфейса. И полное погружение в съёмку обеспечено.</p>
    <div>
      <img src="img/pic/descriptions/iphone11pro-8.jpg" alt="">
    </div>
  </div>

  <div class="description__section description__section--8">
    <img src="img/pic/descriptions/iphone11pro-9.jpg" alt="">
    <span><span>Видео 4K</span><br> Профессио­нальная<br> подготовка кадров.</span>
    <p>iPhone 11 Pro Max снимает превосходные видео — плавные, реалистичные и великолепно детализированные. Мощный
      потенциал процессора позволяет получить видео 4K с частотой 60 кадров/с, расширенным динамическим диапазоном и
      кинемато­графической стабилизацией. А новые инструменты редактирования и возмож­ность увеличить область
      изображения в четыре раза помогут в реализации ваших идей</p>
  </div>

  <div class="description__section description__section--9">
    <!-- Swiper -->
    <div class="description__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/pic/descriptions/iphone11pro-10.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/pic/descriptions/iphone11pro-13.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/pic/descriptions/iphone11pro-14.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="img/pic/descriptions/iphone11pro-15.jpg" alt="">
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>

  <div class="description__section description__section--10">
    <img src="img/pic/descriptions/iphone11pro-11.jpg" alt="">
    <span><span>Процессор Pro</span><br> Такой мощи мы сами<br> не ожидали.</span>
    <p>Уникальный процессор A13 Bionic разработан для более тесной работы с технологиями машинного обучения. С ним
      iPhone способен делать такие вещи, о которых вы и не мечтали. На самом деле, по показателям скорости, мощи и
      технологичности этот процессор опережает другие на многие годы. Согласитесь, неплохое преимущество.</p>

    <ul class="uk-flex uk-flex-wrap uk-flex-column@s uk-child-width-1-3@l">
      <li>
        <span>Архитектура<br> Fusion</span>
        <p>Ядра производитель­ности позволяют выполнять сложные процессы быстрее, чем когда‑либо прежде, а специальные
          ядра эффективности помогают экономить заряд аккумулятора при выполнении повседневных задач.</p>
      </li>

      <li>
        <span>Самый быстрый процессор</span>
        <p>Два ядра производитель­ности работают до 20% быстрее и используют до 40% меньше энергии.
          А четыре ядра эффективности работают до 20% быстрее и используют до 25% меньше энергии.</p>
      </li>

      <li>
        <span>Самая быстрая графика</span>
        <p>Графический процессор Apple работает до 20% быстрее и использует до 30% меньше энергии. Идеально для игр со
          сложной графикой и новейших технологий дополненной реальности.</p>
      </li>

      <li>
        <span>Neural<br> Engine</span>
        <p>8-ядерная система Neural Engine, созданная Apple, работает до 20% быстрее и до 15% эффективнее. Она
          обеспечивает работу системы трёх камер, технологии Face ID, приложений с дополненной реальностью и многого
          другого.</p>
      </li>

      <li>
        <span>Ускорители машинного обучения</span>
        <p>Два новых ускорителя машинного обучения, размещённые на центральном процессоре, выполняют матричные
          вычисления до шести раз быстрее. Как результат, процессор способен обрабатывать более триллиона операций в
          секунду. Нереально.</p>
      </li>

      <li>
        <span>Core<br> ML 3</span>
        <p>Система Core ML 3 открывает для разработчиков возможности машинного обучения процессора A13 Bionic. Система
          работает совместно с контроллером машинного обучения и автоматически распределяет задачи между системой Neural
          Engine, центральным и графическим процессорами.</p>
      </li>
    </ul>
  </div>

  <div class="description__section description__section--11">
    <img src="img/pic/descriptions/iphone11pro-12.jpg" alt="">
  </div>
</div>
