<div class="uk-container bg-full-width">
  <ul class="accordion .accordion--scroll" uk-accordion>
    <li>
      <a class="uk-accordion-title" href="#">1. Гарантийные обязательства:</a>
      <div class="uk-accordion-content">
        <ol>
          <li>Гарантийные обязательства дают право Покупателю на замену или бесплатный ремонт в течение гарантийного
            срока.</li>
          <li>Гарантия не распространяется на следующие аксессуары, входящие в комплект с сотовым телефоном:
            <ul>
              <li>- аккумуляторная батарея</li>
              <li>- проводная гарнитура</li>
              <li>- соединительный кабель с ПК</li>
              <li>- зарядное устройство</li>
              <li>-карта памяти</li>
            </ul>
          </li>
          <li>Мы не предоставляем никаких других гарантий, кроме указанных выше, в том числе гарантии совместимости с
            другими изделиями.</li>
          <li>В случае наступления гарантийных обязательств: - доставка товара осуществляется за счет Клиента -
            осуществляется анализ неисправности и в случае выявления заводского брака производится ремонт или замена
            изделия</li>
          <li>Настоятельно рекомендуем Вам сохранять на другом (внешнем) носителе информации резервную копию всей
            информации, которую Вы храните в памяти телефона или на карте памяти, используемой с телефоном. Ни при каких
            обстоятельствах компания не несет ответственности за какой-либо особый, случайный, прямой или косвенный
            ущерб
            или убытки, включая, но не ограничиваясь только перечисленным, упущенную выгоду, утрату или невозможность
            использования информации или данных, расходы по восстановлению информации или данных, убытки, вызванные
            перерывами в коммерческой или иной деятельности, возникающие в связи с использованием или невозможностью
            использования телефона.</li>
          <li>Гарантийный срок исчисляется со дня оформления заказа</li>
        </ol>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">2. Гарантия не распространяется на недостатки товаров в следующих
        случаях:</a>
      <div class="uk-accordion-content">
        <ol>
          <li>Гарантийные обязательства дают право Покупателю на замену или бесплатный ремонт в течение гарантийного
            срока.</li>
          <li>Гарантия не распространяется на следующие аксессуары, входящие в комплект с сотовым телефоном:
            <ul>
              <li>- аккумуляторная батарея</li>
              <li>- проводная гарнитура</li>
              <li>- соединительный кабель с ПК</li>
              <li>- зарядное устройство</li>
              <li>-карта памяти</li>
            </ul>
          </li>
          <li>Мы не предоставляем никаких других гарантий, кроме указанных выше, в том числе гарантии совместимости с
            другими изделиями.</li>
          <li>В случае наступления гарантийных обязательств: - доставка товара осуществляется за счет Клиента -
            осуществляется анализ неисправности и в случае выявления заводского брака производится ремонт или замена
            изделия</li>
          <li>Настоятельно рекомендуем Вам сохранять на другом (внешнем) носителе информации резервную копию всей
            информации, которую Вы храните в памяти телефона или на карте памяти, используемой с телефоном. Ни при каких
            обстоятельствах компания не несет ответственности за какой-либо особый, случайный, прямой или косвенный
            ущерб
            или убытки, включая, но не ограничиваясь только перечисленным, упущенную выгоду, утрату или невозможность
            использования информации или данных, расходы по восстановлению информации или данных, убытки, вызванные
            перерывами в коммерческой или иной деятельности, возникающие в связи с использованием или невозможностью
            использования телефона.</li>
          <li>Гарантийный срок исчисляется со дня оформления заказа</li>
        </ol>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">3. Меры предосторожности:</a>
      <div class="uk-accordion-content">
        <ol>
          <li>Гарантийные обязательства дают право Покупателю на замену или бесплатный ремонт в течение гарантийного
            срока.</li>
          <li>Гарантия не распространяется на следующие аксессуары, входящие в комплект с сотовым телефоном:
            <ul>
              <li>- аккумуляторная батарея</li>
              <li>- проводная гарнитура</li>
              <li>- соединительный кабель с ПК</li>
              <li>- зарядное устройство</li>
              <li>-карта памяти</li>
            </ul>
          </li>
          <li>Мы не предоставляем никаких других гарантий, кроме указанных выше, в том числе гарантии совместимости с
            другими изделиями.</li>
          <li>В случае наступления гарантийных обязательств: - доставка товара осуществляется за счет Клиента -
            осуществляется анализ неисправности и в случае выявления заводского брака производится ремонт или замена
            изделия</li>
          <li>Настоятельно рекомендуем Вам сохранять на другом (внешнем) носителе информации резервную копию всей
            информации, которую Вы храните в памяти телефона или на карте памяти, используемой с телефоном. Ни при каких
            обстоятельствах компания не несет ответственности за какой-либо особый, случайный, прямой или косвенный
            ущерб
            или убытки, включая, но не ограничиваясь только перечисленным, упущенную выгоду, утрату или невозможность
            использования информации или данных, расходы по восстановлению информации или данных, убытки, вызванные
            перерывами в коммерческой или иной деятельности, возникающие в связи с использованием или невозможностью
            использования телефона.</li>
          <li>Гарантийный срок исчисляется со дня оформления заказа</li>
        </ol>
      </div>
    </li>
  </ul>
</div>
