<script src="js/scripts.min.js"></script>

<button type="button" class="hamburger"
	style="position: fixed; bottom: 20px; left: 20px; margin-right: 20px; padding: 0; z-index: 99999;"
	data-uk-toggle="target: #uinav">
	<span
		style="display: flex; width: 32px; height: 4px; background: #333333; border-radius: 1.5px; margin-bottom: 6px;"></span>
	<span
		style="display: flex; width: 32px; height: 4px; background: #333333; border-radius: 1.5px; margin-bottom: 6px;"></span>
	<span
		style="display: flex; width: 32px; height: 4px; background: #333333; border-radius: 1.5px; margin-bottom: 6px;"></span>
</button>
<div id="uinav" data-uk-offcanvas="overlay: true; mode: none;">
	<div class="uk-offcanvas-bar">
		<button class="uk-button" type="button"
			data-uk-toggle="target: #toggle-animation-multiple; animation:  uk-animation-slide-left, uk-animation-slide-bottom"
			data-uk-icon="grid"></button>
		<ul id="toggle-animation-multiple" class="uk-card uk-card-default uk-card-body uk-margin-small">
			<li style="margin-bottom: 10px;">
				<a href="index.html" style="color: #fff;">Главная</a>
			</li>
		</ul>
	</div>
</div>
