<div class="header">
    <div
        class="header__top uk-padding-small-top@l uk-padding-small-top@s uk-padding-small-bottom@l uk-padding-small-bottom@s">
        <div class="uk-container uk-flex uk-flex-between uk-flex-middle">
            <div class="header__top-select-city">
                <span>Ваш город:</span>
                <a href="#">Санкт-Петeрбург</a>
            </div>
            <ul class="header__top-list uk-flex uk-flex-middle">
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="#">Вход</a>
                </li>
                <li>
                    <a href="#">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
</div>