<div class="header">
  <div
    class="header__top uk-padding-small-top@l uk-padding-small-top@s uk-padding-small-bottom@l uk-padding-small-bottom@s uk-visible@l">
    <div class="uk-container uk-flex uk-flex-between uk-flex-middle">
      <div class="header__top-select-city">
        <span>Ваш город:</span>
        <a href="#">Санкт-Петeрбург</a>
      </div>
      <ul class="header__top-list uk-flex uk-flex-middle">
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#">Вход</a>
        </li>
        <li>
          <a href="#">Регистрация</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="header__sticky-mobile uk-container uk-flex uk-flex-column@l uk-flex-row@s bg-full-width--white"
    uk-sticky="media: (max-width:1249px)">

    <div class="uk-flex uk-flex-middle uk-padding-small-top@l uk-padding-small-bottom@l">
      <div class="header__menu uk-hidden@l">
        <button class="header__menu-button">
          <svg width="26" height="20" fill="#F9F9F9">
            <use xlink:href="img/symbol/sprite.svg#hamburger" />
          </svg>
        </button>
      </div>

      <a href="#" class="header__logo">
        <img src="img/pic/logo/i-store-logo.svg" width="116" height="16" alt="">
      </a>

      <nav class="header__navigation uk-width-expand@l uk-visible@l">
        <ul class="uk-flex uk-flex-center uk-flex-between">
          <li>
            <a href="#">Распродажа</a>
          </li>
          <li>
            <a href="#">Гарантия</a>
          </li>
          <li>
            <a href="#">Доставка и оплата</a>
          </li>
          <li>
            <a href="#">Кредит</a>
          </li>
          <li>
            <a href="#">Новости</a>
          </li>
          <li>
            <a href="#">Отзывы</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="header__contacts uk-flex uk-flex-middle">
        <span>С 10:00 до 21:00<br>без выходных</span>
        <div class="uk-flex uk-flex-column">
          <a href="tel:84991131908">
            <svg width="14" height="14">
              <use xlink:href="img/symbol/sprite.svg#phone-ico" />
            </svg>
            +7 (499) 113 19 08</a>
          <span>Бесплатно по всей територрии РФ</span>
        </div>
      </div>
    </div>

    <div class="header__sticky uk-flex uk-flex-middle bg-full-width--white" uk-sticky="media: (min-width: 1250px)">
      <div class="header__catalog uk-visible@l">
        <button class="header__catalog-btn" type="button">
          <svg width="24" height="6" fill="rgba(255,255,255,.5)">
            <use xlink:href="img/symbol/sprite.svg#points-ico" />
          </svg>
          Каталог товаров
        </button>

        <div class="header__catalog-container" uk-dropdown="mode: click; delay-hide: 0">
          <button class="header__catalog-close" id="header-catalog-close" type="button"
            onclick="UIkit.dropdown('.header__catalog-container').hide();">Закрыть</button>
          <ul class="header__catalog-tabs uk-subnav uk-subnav-pill" uk-switcher>
            <li><a href="#">iPhone</a></li>
            <li><a href="#">iPad</a></li>
            <li><a href="#">MacBook и iMac</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">Аксессуары</a></li>
          </ul>
          <ul class="header__catalog-content uk-switcher uk-text-left">
            <li>
              <ul class="header__catalog-list uk-flex uk-child-width-auto uk-grid-small" uk-grid>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-1.jpg" alt="">
                    </div>
                    <span>iPhone 11 Pro Max</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-1.jpg" alt="">
                    </div>
                    <span>iPhone 11 Pro</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-2.jpg" alt="">
                    </div>
                    <span>iPhone 11</span>
                  </a>
                </li>

                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-3.jpg" alt="">
                    </div>
                    <span>iPhone XS Max</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-3.jpg" alt="">
                    </div>
                    <span>iPhone XS</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-4.jpg" alt="">
                    </div>
                    <span>iPhone XR</span>
                  </a>
                </li>

                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-5.jpg" alt="">
                    </div>
                    <span>iPhone X</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-6.jpg" alt="">
                    </div>
                    <span>iPhone 8 Plus</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-6.jpg" alt="">
                    </div>
                    <span>iPhone 8</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-7.jpg" alt="">
                    </div>
                    <span>iPhone 7 Plus</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-7.jpg" alt="">
                    </div>
                    <span>iPhone 7</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-8.jpg" alt="">
                    </div>
                    <span>iPhone 6S Plus</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-8.jpg" alt="">
                    </div>
                    <span>iPhone 6S</span>
                  </a>
                </li>
                <li>
                  <a class="uk-flex uk-flex-column" href="#">
                    <div>
                      <img src="img/pic/bg/header-catalog-9.jpg" alt="">
                    </div>
                    <span>iPhone SE</span>
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <h2 class="uk-text-center uk-margin-bottom">Обмен и возврат в
                течении 14 дней <br>с момента покупки.</h2>
            </li>
          </ul>

        </div>
        <div class="header__catalog-bg"></div>
      </div>

      <div class="search uk-width-expand@l">
        <input class="uk-visible@l" type="text" placeholder="Поиск по каталогу">

        <button class="search__mobile uk-hidden@l">
          <svg width="24" height="24" fill="#393939">
            <use xlink:href="img/symbol/sprite.svg#header__search-mobile" />
          </svg>
        </button>
      </div>

      <a class="header__contacts-mobile uk-hidden@l" href="tel:84991131908">
        <svg width="24" height="24">
          <use xlink:href="img/symbol/sprite.svg#header__contact-mobile" />
        </svg>
      </a>

      <div class="cart uk-width-1-6@l">
        <div class="uk-flex uk-flex-between uk-visible@l">
          <span>Корзина</span>
          <span>2 шт</span>
        </div>

        <button class="cart__mobile uk-hidden@l">
          <svg width="24" height="24" fill="#6344B6">
            <use xlink:href="img/symbol/sprite.svg#cart-icon" />
          </svg>
        </button>
      </div>
    </div>

  </div>

  <div class="header__bottom uk-container uk-flex uk-flex-middle">
    <!-- Swiper -->
    <nav class="uk-width-expand header__bottom-container">
      <ul class="header__list uk-flex uk-flex-between swiper-wrapper">
        <li class="swiper-slide">
          <a class="uk-flex uk-flex-middle" href="#">
            <img src="img/pic/ico/iphone-ico.svg" width="50" height="46" alt="">
            <span>iPhone</span>
          </a>
          <ul class="header__sublist">
            <li>
              <a href="#">iPhone 11 Pro Max</a>
            </li>
            <li>
              <a href="#">iPhone 11 Pro</a>
            </li>
            <li>
              <a href="#">iPhone 11</a>
            </li>
          </ul>
        </li>

        <li class="swiper-slide">
          <a class="uk-flex uk-flex-middle" href="#">
            <img src="img/pic/ico/ipad-ico.svg" width="46" height="48" alt="">
            <span>iPad</span>
          </a>
          <ul class="header__sublist">
            <li>
              <a href="#">iPhone 11 Pro Max</a>
            </li>
            <li>
              <a href="#">iPhone 11 Pro</a>
            </li>
            <li>
              <a href="#">iPhone 11</a>
            </li>
          </ul>
        </li>

        <li class="swiper-slide">
          <a class="uk-flex uk-flex-middle" href="#">
            <img src="img/pic/ico/macbook-ico.svg" width="70" height="40" alt="">
            <span>MacBook и iMac</span>
          </a>
          <ul class="header__sublist">
            <li>
              <a href="#">iPhone 11 Pro Max</a>
            </li>
            <li>
              <a href="#">iPhone 11 Pro</a>
            </li>
            <li>
              <a href="#">iPhone 11</a>
            </li>
          </ul>
        </li>

        <li class="swiper-slide">
          <a class="uk-flex uk-flex-middle" href="#">
            <img src="img/pic/ico/iwatch-ico.svg" width="23" height="42" alt="">
            <span>Watch</span>
          </a>
          <ul class="header__sublist">
            <li>
              <a href="#">iPhone 11 Pro Max</a>
            </li>
            <li>
              <a href="#">iPhone 11 Pro</a>
            </li>
            <li>
              <a href="#">iPhone 11</a>
            </li>
          </ul>
        </li>

        <li class="swiper-slide">
          <a class="uk-flex uk-flex-middle" href="#">
            <img src="img/pic/ico/accessories-ico.svg" width="31" height="46" alt="">
            <span>Аксессуары</span>
          </a>
          <ul class="header__sublist">
            <li>
              <a href="#">iPhone 11 Pro Max</a>
            </li>
            <li>
              <a href="#">iPhone 11 Pro</a>
            </li>
            <li>
              <a href="#">iPhone 11</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="header__banner uk-visible@l">
      <img src="img/pic/bg/header-banner.jpg" width="70" height="70" alt="">
      <span>Новинки уже в наличии</span>
      <span>iPhone 11 Pro Max</span>
    </div>
  </div>
</div>
