<div class="pagination uk-flex uk-flex-column">
  <button class="pagination__btn--large uk-margin-bottom" type="button"
    data-uk-toggle="target: .pagination; cls: pagination--is-loading">
    <span>
      <svg width="16" height="16" fill="#2C0952">
        <use xlink:href="img/symbol/sprite.svg#refresh-ico" />
      </svg>
      Показать еще</span>
  </button>
  <div class="uk-flex uk-flex-center">
    <a class="pagination__btn pagination__btn--prev">
      <svg width="7" height="13" fill="#FF548C">
        <use xlink:href="img/symbol/sprite.svg#arrow" />
      </svg>
    </a>
    <a href="#" class="pagination__btn pagination__btn--active pagination__btn--small">1</a>
    <a href="#" class="pagination__btn pagination__btn--small">2</a>
    <a href="#" class="pagination__btn pagination__btn--small">3</a>
    <a href="#" class="pagination__btn pagination__btn--small">4</a>
    <a href="#" class="pagination__btn pagination__btn--small">5</a>
    <a href="#" class="pagination__btn pagination__btn--next">
      <svg width="7" height="13" fill="#FF548C">
        <use xlink:href="img/symbol/sprite.svg#arrow" />
      </svg>
    </a>
  </div>
</div>
