<div
  class="uk-container bg-full-width uk-padding-large-bottom@l uk-padding-large-bottom@s uk-padding-large-top@s uk-padding-large-top@l">
  <div class="question uk-child-width-1-2@l uk-flex uk-flex-column-reverse@s">
    <div>
      <span class="question__title">Остались вопросы?</span>
      <p>Оставьте свой номер, мы перезвоним и проконсультруем вас по любому интересующему вопросу.</p>
      <span class="field__title">Введите свой телефон:</span>
      <div class="uk-flex uk-flex-between uk-flex-column@s">
        <div class="field field__error">
          <input type="text" placeholder="Введите номер телефона">
          <div class="field__message">
            nika KUKU
          </div>
        </div>
        <button type="button" class="btn">Заказать звонок</button>
      </div>
    </div>

    <picture class="question__image">
      <source srcset="img/pic/bg/question-bg.svg" media="(min-width: 1250px)">
      <img src="img/pic/bg/question-bg-mobile.svg" alt="">
    </picture>

  </div>
</div>
