<div class="seo-msk__wrap uk-container bg-full-width">
  <div class="seo-msk">
    <div class="seo-msk__header">
      <span class="seo-msk__title">Получите 2 подарка на выбор <br>при покупке любого iPhone</span>
      <span class="seo-msk__time">Акция действительна <br>до 31 октября</span>
      <img src="img/pic/bg/seo-msk-header.jpg" alt="">
      <span class="seo-msk__text">скидка 500 &#8381;</span>
      <span class="seo-msk__text">Защитное стекло</span>
      <span class="seo-msk__text">Чехол</span>
    </div>

    <div class="seo-msk__reviews">
      <span class="seo-msk__reviews-title">Отзывы</span>
      <!-- Swiper -->
      <div class="seo-msk__reviews-container">
        <div class="swiper-wrapper uk-flex">
          <div class="seo-msk__review swiper-slide">
            <div class="seo-msk__review-header uk-flex">
              <img src="img/pic/ico/user.svg" alt="">
              <div class="seo-msk__review-info uk-flex uk-flex-column">
                <span>Женя</span>
                <span>20 сентября 2019</span>
              </div> 
            </div>
            <p>Покупал телефон подружке на день рождения, так что как он себя ведёт особо не знаю, но судя по всему
              всё красиво. Заказ оформили за считаные минуты, и доставка не заставила ждать, телефон привезли за 4
              часа. При проверке телефон выглядел отлично, и IMEI сошёлся. Ну вроде не жалуется, так что телефон
              нормальный.</p>
          </div>

          <div class="seo-msk__review swiper-slide">
            <div class="seo-msk__review-header uk-flex">
              <img src="img/pic/ico/user.svg" alt="">
              <div class="seo-msk__review-info uk-flex uk-flex-column">
                <span>Женя</span>
                <span>20 сентября 2019</span>
              </div>
            </div>
            <p>Покупал телефон подружке на день рождения, так что как он себя ведёт особо не знаю, но судя по всему
              всё красиво. Заказ оформили за считаные минуты, и доставка не заставила ждать, телефон привезли за 4
              часа. При проверке телефон выглядел отлично, и IMEI сошёлся. Ну вроде не жалуется, так что телефон
              нормальный.</p>
          </div>

          <div class="seo-msk__review swiper-slide">
            <div class="seo-msk__review-header uk-flex">
              <img src="img/pic/ico/user.svg" alt="">
              <div class="seo-msk__review-info uk-flex uk-flex-column">
                <span>Женя</span>
                <span>20 сентября 2019</span>
              </div>
            </div>
            <p>Покупал телефон подружке на день рождения, так что как он себя ведёт особо не знаю, но судя по всему
              всё красиво. Заказ оформили за считаные минуты, и доставка не заставила ждать, телефон привезли за 4
              часа. При проверке телефон выглядел отлично, и IMEI сошёлся. Ну вроде не жалуется, так что телефон
              нормальный.</p>
          </div>

          <div class="seo-msk__review swiper-slide">
            <div class="seo-msk__review-header uk-flex">
              <img src="img/pic/ico/user.svg" alt="">
              <div class="seo-msk__review-info uk-flex uk-flex-column">
                <span>Женя</span>
                <span>20 сентября 2019</span>
              </div>
            </div>
            <p>Покупал телефон подружке на день рождения, так что как он себя ведёт особо не знаю, но судя по всему
              всё красиво. Заказ оформили за считаные минуты, и доставка не заставила ждать, телефон привезли за 4
              часа. При проверке телефон выглядел отлично, и IMEI сошёлся. Ну вроде не жалуется, так что телефон
              нормальный.</p>
          </div>

          <div class="seo-msk__review swiper-slide">
            <div class="seo-msk__review-header uk-flex">
              <img src="img/pic/ico/user.svg" alt="">
              <div class="seo-msk__review-info uk-flex uk-flex-column">
                <span>Женя</span>
                <span>20 сентября 2019</span>
              </div>
            </div>
            <p>Покупал телефон подружке на день рождения, так что как он себя ведёт особо не знаю, но судя по всему
              всё красиво. Заказ оформили за считаные минуты, и доставка не заставила ждать, телефон привезли за 4
              часа. При проверке телефон выглядел отлично, и IMEI сошёлся. Ну вроде не жалуется, так что телефон
              нормальный.</p>
          </div>

          <div class="seo-msk__review swiper-slide">
            <div class="seo-msk__review-header uk-flex">
              <img src="img/pic/ico/user.svg" alt="">
              <div class="seo-msk__review-info uk-flex uk-flex-column">
                <span>Женя</span>
                <span>20 сентября 2019</span>
              </div>
            </div>
            <p>Покупал телефон подружке на день рождения, так что как он себя ведёт особо не знаю, но судя по всему
              всё красиво. Заказ оформили за считаные минуты, и доставка не заставила ждать, телефон привезли за 4
              часа. При проверке телефон выглядел отлично, и IMEI сошёлся. Ну вроде не жалуется, так что телефон
              нормальный.</p>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
