<div class="seo-features bg-full-width">
  <div class="uk-container">
    <h2 class="title title--small uk-margin-medium-bottom uk-padding-bottom@l">Закажите айфон за 5 минут</h2>

    <ul class="feature uk-flex uk-flex-column@s uk-flex-around@l uk-child-width-1-3@l">
      <li
        class="feature--yellow uk-flex uk-flex-column uk-flex-middle uk-margin-medium-bottom@s uk-padding-medium-bottom@s">
        <div class="uk-margin-bottom">
          <svg width="48" height="48" fill="#ffffff">
            <use xlink:href="img/symbol/sprite.svg#seo-feature-1" />
          </svg>
        </div>
        <p class="uk-padding-medium-right@l uk-padding-medium-left@l">Оставьте заявку на сайте или позвоните по номеру
          телефона на сайте</p>
      </li>

      <li
        class="feature--violet uk-flex uk-flex-column uk-flex-middle uk-margin-medium-bottom@s uk-padding-medium-bottom@s">
        <div class="uk-margin-bottom">
          <svg width="48" height="48">
            <use xlink:href="img/symbol/sprite.svg#seo-feature-2" />
          </svg>
        </div>
        <p class="uk-padding-medium-right@l uk-padding-medium-left@l ">В течении пары минут вам позвонит менеджер для
          уточнения заказа</p>
      </li>

      <li class="feature--blue uk-flex uk-flex-column uk-flex-middle uk-margin-medium-bottom@s uk-padding-medium-bottom@s">
        <div class="uk-margin-bottom">
          <svg width="48" height="48">
            <use xlink:href="img/symbol/sprite.svg#feature-cash-icon" />
          </svg>
        </div>
        <p class="uk-padding-medium-right@l uk-padding-medium-left@l">Выберите способ оплаты и получения заказа с
          менеджером по телефон</p>
      </li>

      <li class="feature--green uk-flex uk-flex-column uk-flex-middle">
        <div class="uk-margin-bottom">
          <svg width="48" height="48">
            <use xlink:href="img/symbol/sprite.svg#seo-feature-3" />
          </svg>
        </div>
        <p class="uk-padding-medium-right@l uk-padding-medium-left@l">Вы можете приезжать за товаров в пункт выдачи либо
          курьер доставит его до двери вашего дома за 3 часа.</p>
      </li>
    </ul>
  </div>
</div>
