<div class="seo uk-container bg-full-width">
  <div class="seo__banner">
    <p class="seo__title">Неповторимый дизайн <br>iPhone X – особо прочное <br>стекло с двух сторон</p>
    <picture>
      <source srcset="img/pic/bg/seo-image-1-mobile.jpg" media="(max-width: 1249px)">
      <img src="img/pic/bg/seo-image.jpg" width="1300" height="320" alt="">
    </picture>
  </div>

  <div class="seo__description uk-flex uk-flex-column@s uk-child-width-1-2@l">
    <p>Просмотрите каталог и выберите модель, наиболее подходящую по цене и характеристикам. В нашем ассортименте
      представлены давно вышедшие на рынок, но все еще востребованные айфоны. Они стоят недорого относительно новинок и
      доступны более широкому кругу покупателей. При этом даже не самые новые модели iPhone отличаются высочайшим
      качеством, надежностью и возможностями, которых нет в смартфонах других производителей. Тем, кто желает
      пользоваться самыми современными устройствами, мы предложим последние новинки. Все модели представлены в различных
      цветовых решениях корпуса, а также доступны разные объемы встроенной памяти. Когда iPhone выбран, добавьте товар в
      корзину или оформите покупку в один клик.</p>

    <ul>
      <li>Спецаильаная цена, на модели EU, US, CN</li>
      <li>Доставка по СПБ бесплатно за 3 часа</li>
      <li>Гарантия 1 год, поддержка и сервис от магазина</li>
    </ul>
  </div>

  <ul class="seo__features uk-flex uk-child-width-1-3 uk-visible@l">
    <li>
      <span>Модельный ряд</span>
      <p>Теперь среди основных устройств все лишились рамок, у них нет кнопки со сканером отпечатков пальцев и все они
        получили уже не самый оригинальный вырез в верхней части дисплея.</p>
    </li>

    <li>
      <span>Комплектация</span>
      <p>Последние изменения в коробке произошли с выходом iPhone 7, когда устройство лишили стандартного разъема для
        наушников. Тогда в комплекте появился переходник. Жалобы на него так и не прекратились</p>
    </li>

    <li>
      <span>Дизайн и удобство использования</span>
      <p>Для того, чтобы найти значительные изменения во внешности iPhone Xs по сравнению с iPhone X, придется брать
        увеличительное стекло. Со стороны они идентичны. Xs — все тот же стеклянный смартфон со стальной рамкой</p>
    </li>
  </ul>

  <div class="seo__footer uk-flex uk-flex-around">
    <img class="uk-visible@l" src="img/temp/seo-image-2.jpg" width="395" height="350" alt="">
    <div class="uk-flex uk-flex-column uk-width-3-5@l">
      <span>Заказ iPhone 10 в СПб</span>
      <p>Просмотрите каталог и выберите модель, наиболее подходящую по цене и характеристикам. В нашем ассортименте
        представлены давно вышедшие на рынок, но все еще востребованные айфоны. Они стоят недорого относительно новинок
        и доступны более широкому кругу покупателей. При этом даже не самые новые модели iPhone отличаются высочайшим
        качеством, надежностью и возможностями, которых нет в смартфонах других производителей. Тем, кто желает
        пользоваться самыми современными устройствами, мы предложим последние новинки. Все модели представлены в
        различных цветовых решениях корпуса, а также доступны разные объемы встроенной памяти. Когда iPhone выбран,
        добавьте товар в корзину или оформите покупку в один клик.</p>
    </div>
  </div>
</div>
