<div
  class="uk-container bg-full-width uk-padding-large-top@l uk-padding-large-top@s uk-padding-large-bottom@l uk-padding-large-bottom@s">
  <div class="subscribe uk-flex uk-child-width-1-2@l uk-child-width-1-2@m uk-flex-wrap uk-flex-between">
    <div class="uk-flex uk-flex-column uk-flex-center">
      <span class="subscribe__title">Спасибо зa подписку!</span>
      <p>Получайте оповещения об акциях и специальных <br>предложениях в удобный для вас месседжер или на почту</p>
    </div>
    <img src="img/pic/bg/subscribe.jpg" alt="">
  </div>
</div>
