<div
  class="uk-container bg-full-width uk-padding-large-top@l uk-padding-large-top@s uk-padding-large-bottom@l uk-padding-large-bottom@s">
  <div class="subscribe uk-flex uk-child-width-1-2@l uk-child-width-1-2@m uk-flex-wrap uk-flex-between">
    <div>
      <span class="subscribe__title">Подписка на рассылку акций!</span>
      <p>Получите скидку до 10% на первую покупку <br>за подписку на рассылку.</p>
      <div class="field uk-margin-bottom">
        <span class="field__title">Введите свой телефон:</span>
        <input type="text" placeholder="+7">
      </div>
      <button type="button" class="btn">Перезвоните мне</button>
    </div>
    <img src="img/pic/bg/subscribe.jpg" alt="">
  </div>
</div>
