.article-list {
  border: 1px solid #EAEAEA;
  border-radius: 15px;
  background-color: #F8F8F8;
  overflow: hidden;

  li {
    &:not(:last-of-type) {
      border-bottom: 1px solid #EAEAEA;
    }

    a {
      display: block;
      padding: 15px 10px 15px 15px;
      transition: background-color .3s;

      &:hover {
        background-color: darken(#F8F8F8, 5%);
      }
    }
  }

  p {
    margin-bottom: 10px;
    font: 500 22px/26px FuturaPT;
    color: #30373D;
  }

  span {
    font: normal 14px/22px Roboto;
    color: rgba(48, 55, 61, .5);
  }
}
