.calc {
  &__subtitle {
    margin-bottom: 15px;
    font: 600 14px/18px FuturaPT;
    color: $third-black-color;
  }

  &__result {
    margin-right: 30px;
    font: 500 48px/59px Helvetica;
    color: $second-black-color;
  }

  &__info {
    padding-top: 10px;
    font: normal 12px/16px FuturaPT;
    color: $second-black-color-opacity-5;
  }

  &__range {
    &-wrap {
      position: relative;
      font: 500 18px/22px Helvetica;
      margin-bottom: 40px;

      input[type=range] {
        -webkit-appearance: none;
        margin: 20px 0;
        width: 100%;
        background: none;

        &:focus {
          outline: none;
        }
      }

      input[type=range]::-webkit-slider-runnable-track,
      input[type=range]:focus::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: $gray;
        border-radius: 2px;
        border: none;
        z-index: 2;
      }

      input[type=range]::-webkit-slider-thumb {
        width: 30px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid $gray-4;
        background-color: $main-color;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -25px;
        z-index: 2;
      }

      input[type=range]::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: $gray;
        border-radius: 2px;
        border: none;
        z-index: 2;
      }

      input[type=range]::-moz-range-thumb {
        width: 30px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid $gray-4;
        background-color: $main-color;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -25px;
        z-index: 2;
      }

      input[type=range]::-ms-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        background: $gray;
        border-radius: 2px;
        border: none;
        z-index: 2;
      }

      input[type=range]::-ms-thumb {
        width: 32px;
        height: 50px;
        border-radius: 6px;
        border: 1px solid $gray-4;
        background-color: $main-color;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -25px;
        z-index: 2;
      }
    }

    &-input-val {
      position: absolute;
      top: 5;
      left: -1.76471px;
      width: 30px;
      margin-left: 1.76471px;
      text-align: center;
      pointer-events: none;
      color: $white;
      z-index: 2;

      &::after {
        content: '...';
        position: absolute;
        top: 12px;
        left: 6px;
        font-size: 25px;
        color: $black-opacity-45;
      }
    }

    &-items {
      position: relative;
      font-size: 0;
    }

    &-item {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: calc((100% - 30px - 11%)/ 5);
      padding-left: 4px;
      font: 500 18px/22px Helvetica;

      &::before {
        content: '';
        position: absolute;
        top: -9px;
        left: 12px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $gray-5;
      }

      &:first-child {
        width: 11%;
        padding: 0 0 0 8px;
      }

      &:nth-child(2) {
        padding: 0 0 0 9px;
      }

      &:nth-child(6) {
        &:before {
          content: none;
        }
      }

      &:last-child {
        width: 30px;
        text-align: center;
        padding: 0;
      }
    }
  }
}
