.field {
  &__title {
    display: block;
    margin-bottom: 10px;
    font: 600 16px/19px FuturaPT;
    text-transform: uppercase;
    color: #30373D;
  }

  input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid transparent;
    font: normal 15px/18px Roboto;
    color: #30373D;
    background: #F3F2F4;
    transition: border-color .3s;

    &:focus {
      border-color: #FF548C;
    }
  }

  &--account {
    &__title {
      font: 600 12px/20px FuturaPT;
      color: rgba(66, 92, 116, .8);
    }

    input {
      padding: 15px;
      background: #FFFFFF;
      border: 1px solid #E9E9E9;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
    }

    textarea {
      padding: 15px;
      width: 100%;
      max-height: 150px;
      background: #FFFFFF;
      font: normal 15px/18px Roboto;
      color: #30373D;
      border: 1px solid #E9E9E9;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      resize: none;
    }
  }

  &--checkout {
    @include screen(l) {
      border: 1px solid #E9E9E9;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
      border-radius: 6px;
      overflow: hidden;
    }

    input {
      padding: 15px;
      width: 100%;
      border: none;

      @include screen(xl) {
        margin-bottom: 15px;
        background: #FFFFFF;
        border: 1px solid #E9E9E9;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
      }
    }

    &>div {
      @include screen(l) {
        padding: 10px;
        background: #FFFFFF;
      }

      .btn {
        font: 600 14px/16px FuturaPT;
        color: #ffffff;

        @include screen(xl) {
          padding: 10px 15px 12px;
        }

        @include screen(l) {
          padding: 5px 15px 7px;
          width: 125px;
        }
      }
    }
  }
}
