.land-air {
  text-align: center;
  background-color: #ffffff;

  &__title {
    &--sm {
      @include screen(xl) {
        font: bold 18px / 28px FuturaPT, sans-serif;
      }

      @include screen(l) {
        font: bold 24px / normal FuturaPT, sans-serif;
      }
    }

    &--md {
      @include screen(xl) {
        font: bold 18px / 28px FuturaPT, sans-serif;
      }

      @include screen(l) {
        font: bold 32px / normal FuturaPT, sans-serif;
      }
    }

    &--lg {
      @include screen(xl) {
        font: bold 28px / 36px FuturaPT, sans-serif;
      }

      @include screen(l) {
        font: bold 38px / normal FuturaPT, sans-serif;
      }
    }
  }

  &__text {
    &--sm {
      @include screen(xl) {}

      @include screen(l) {
        font: 300 16px/1.63 Roboto, sans-serif;
      }
    }

    &--md {
      @include screen(xl) {
        font: 300 14px/22px Roboto, sans-serif;
      }

      @include screen(l) {
        font: 300 18px/1.78 Roboto, sans-serif;
      }
    }

    &--lg {
      @include screen(xl) {
        font: bold 18px / 25px FuturaPT, sans-serif;
      }

      @include screen(l) {
        font: bold 18px / normal FuturaPT, sans-serif;
      }
    }
  }

  &__top {
    position: relative;
    background: url("../img/pic/descriptions/land-air-top.jpg") 0 0/100% no-repeat;

    @include screen(xl) {
      margin-bottom: 40px;
    }

    @include screen(l) {
      margin-bottom: 80px;
    }

    .land-air__title {
      position: relative;
      margin: 0 auto 26px;
      max-width: 780px;

      @include screen(xl) {
        padding: 50% 15px 0;
      }

      @include screen(l) {
        padding-top: 420px;
      }
    }

    .land-air__text {
      position: relative;
      margin: 0 auto;
      max-width: 710px;

      @include screen(xl) {
        padding: 0 15px;
      }
    }
  }

  &__black {
    color: $white;
    background-color: #000;

    @include screen(xl) {
      padding: 40px 15px;
      background: url("../img/pic/descriptions/land-air-black.jpg") center/ 700px 500px no-repeat,
        #000;
    }

    @include screen(l) {
      padding: 80px 230px;
      background: url("../img/pic/descriptions/land-air-black.jpg") center/ 1168px 892px no-repeat,
        #000;
    }

    .land-air__text--md {
      padding-top: 26px;
    }

    &-text {
      @include screen(xl) {
        margin-bottom: 50%;
      }

      @include screen(m) {
        margin-bottom: 275px;
      }

      @include screen(l) {
        margin-bottom: 572px;
      }
    }
  }

  &__gray {
    text-align: left;

    @include screen(xl) {
      padding: 400px 15px 40px;
      background: url(../img/pic/descriptions/land-air-airpods.jpg) 50% 40px /280px 324px no-repeat,
        #fafafa;
    }

    @include screen(l) {
      padding: 440px 80px 168px;
      background: url("../img/pic/descriptions/land-air-airpods.jpg") center 60px/ 720px 835px no-repeat,
        #fafafa;
    }

    &-list {
      display: flex;
      justify-content: space-between;

      @include screen(xl) {
        flex-direction: column;
      }

      @include screen(l) {
        text-align: center;
        align-items: center;
      }
    }

    &-item {
      max-width: 320px;

      @include screen(xl) {
        &:first-of-type {
          margin-bottom: 40px;
        }
      }
    }

    .land-air__text--lg {
      margin-bottom: 15px;
    }
  }

  &__feature {
    @include screen(xl) {
      background: url(../img/pic/descriptions/land-air-hands-mobile.jpg) center bottom/100% auto no-repeat,
        #ffffff;
      padding: 0 15px 50%;
    }

    @include screen(l) {
      padding: 0 229px 500px;
      background: url("../img/pic/descriptions/land-air-hands.jpg") center bottom/ 100% 492px no-repeat,
        #ffffff;
    }

    &-title {
      margin-bottom: 26px;

      @include screen(xl) {
        padding: 40px 0 0;
      }

      @include screen(l) {
        padding: 80px 0 0;
      }
    }

    &-list {
      display: flex;
      justify-content: space-between;

      @include screen(xl) {
        flex-direction: column;
        margin: 0 auto;
        padding: 45px 0 0;
        max-width: 320px;
      }

      @include screen(l) {
        padding: 77px 62px 0;
      }
    }

    &-item {
      @include screen(xl) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        text-align: left;

        &:nth-of-type(2) {
          order: 1;
          margin-bottom: 0;
        }
      }

      @include screen(l) {
        width: 33.33%;
      }
    }

    &-text {
      @include screen(xl) {
        font: normal 12px / 14px Roboto, sans-serif;

        &:last-of-type {
          max-width: 94px;
          line-height: 18px;
        }
      }

      @include screen(l) {
        font: normal 12px / normal Roboto, sans-serif;
      }
    }

    &-time {
      display: inline-block;
      font: 300 48px / normal Roboto, sans-serif;

      @include screen(xl) {
        padding: 5px 0 0;
      }

      @include screen(l) {
        padding: 5px 0 4px;
      }
    }
  }

  &__set {
    text-align: left;
    background-image: linear-gradient(to bottom, #f2f2f2, #ffffff);

    @include screen(l) {
      padding: 0 40px 60px;
    }

    &-content {
      display: flex;
      border-radius: 2px;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;

      @include screen(xl) {
        flex-direction: column;
        padding: 25px 15px 20px;
      }

      @include screen(l) {
        justify-content: space-between;
        padding: 40px 140px 40px 50px;
      }
    }

    &-description {
      @include screen(xl) {
        margin-bottom: 20px;
      }

      @include screen(l) {
        padding-top: 10px;
        max-width: 424px;
      }
    }

    &-image {
      width: 100%;
      height: auto;
      max-width: 297px;
      max-height: 340px;

      @include screen(xl) {
        align-self: center;
      }
    }

    .land-air__title {
      margin-bottom: 20px;
    }
  }

  &__footer {
    @include screen(xl) {
      padding: 40px 15px 0;
    }

    @include screen(l) {
      padding: 0 160px;
    }

    &-title {
      margin-bottom: 26px;
    }

    &-text {
      margin-bottom: 35px;
    }

    &-image {
      width: 100%;
      height: auto;
      max-width: 683px;
      max-height: 568px;
    }
  }
}
