.menu {
	.uk-offcanvas-bar {
		width: 100%;
		transform: translate(-100%);
		left: 0;
		transition: transform .5s;
		overflow-x: hidden;
	}

	&.uk-open>.uk-offcanvas-bar {
		transform: translate(0%) !important;
	}

	& .uk-offcanvas-bar {
		@include screen(xl) {
			padding: 0 0;
			background-color: #fff;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__footer {
		/* padding: 5px; */
		border-top: 1px solid rgba(216, 216, 216, .5);
		/* background-color: #F4F4F4;
		display: flex;
		flex-wrap: wrap; */

		/* li {
			margin: 5px;

			a {
				display: block;
				padding: 9px 15px;
				border: 1px solid #E5E5E5;
				background: #FFFFFF;
				border-radius: 8px;
				font: normal 16px/20px FuturaPT;
				color: #333333;
			}
		} */
	}

	&__header {
		border-bottom: 1px solid rgba(0, 0, 0, .1);

		button {
			padding: 10px 15px 9px;
			font: 500 16px/22px FuturaPT;
			color: #FF548C;

			&:first-of-type {
				border-right: 1px solid rgba(0, 0, 0, .1);
			}
		}
	}

	&__tabs {
		border-bottom: 1px solid rgba(216, 216, 216, .5);
		background-color: #F4F4F4;

		a {
			position: relative;
			display: block;
			padding: 20px 15px 16px;
			text-align: center;
			font: 500 14px/16px FuturaPT;
			color: #333333;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 30%;
				height: 6px;
				border-radius: 100px 100px 0px 0px;
				background: transparent;
				transition: width .3s;
			}
		}

		.uk-active {
			a {
				color: #FF548C;

				&::after {
					width: 100%;
					background-color: #FF548C;
				}
			}
		}
	}

	&__list {
		padding: 20px 5px;


		a {
			display: block;
			padding: 5px 15px;
			font: 500 16px/24px FuturaPT;
			color: #333333;
		}
	}

	&__select-city {
		padding: 13px 15px;

		span {
			font: normal 14px/22px Roboto;
			color: rgba(51, 51, 51, 0.5);

			&:last-of-type {
				color: #FF548C;
			}
		}
	}

	&__socials {
		li {
			border-left: 1px solid rgba(0, 0, 0, .1);
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}

	&__categories {
		.uk-accordion-title {
			padding: 15px;
			border-bottom: 1px solid rgba(216, 216, 216, .5);
			font: 500 16px/24px FuturaPT;
			color: #333333;
		}

		.uk-accordion-content {
			margin: 0;
			padding: 20px 0;
			border-bottom: 1px solid rgba(216, 216, 216, .5);
			background-color: #F4F4F4;
		}

		&-list {
			li {
				display: flex;
				width: auto;
				min-height: 190px;
				max-height: 190px;
				margin-right: 10px;
				padding: 10px;
				box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
				border-radius: 8px;
				background: #FFFFFF;
			}

			a {
				margin: 0 auto;
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				align-items: center;
				text-align: center;
				font: 500 14px/16px FuturaPT;
				color: #30373D;
			}
		}

		/* swiper */
		.swiper-products {
			.swiper-slide {
				width: 190px;
				height: 200px;

				a {
					padding: 10px;
					text-align: center;
					border-radius: 20px;
				}

				img {
					margin: auto;
					width: 100%;
					height: 100%;
					mix-blend-mode: multiply;
				}

				span {
					font: 500 18px/28px FuturaPT;
					color: #30373D;
					transition: color .15s;
				}

				div {
					margin-bottom: 10px;
					width: 140px;
					height: 140px;
				}
			}
		}
	}
}
