.menu {
	&.uk-modal {
		top: 60px;
		padding: 0;
		background: #FFFFFF;
		box-shadow: inset 2px 2px 5px $black-opacity-1;
		z-index: 300;
		transition: opacity .05s linear;

		&.uk-modal-container .uk-modal-dialog {
			height: 100%;
			border-radius: 0;
			overflow-y: scroll;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: auto;
	}

	&__footer {
		border-top: 1px solid $gray-10-opacity-5;
		border-bottom: 1px solid $gray-10-opacity-5;
	}

	&__header {
		border-bottom: 1px solid $black-opacity-1;
		box-shadow: inset 0 2px 2px 0 $black-opacity-1;

		button {
			padding: 10px 15px 9px;
			font: 500 16px/22px FuturaPT;
			color: $main-color;

			&:first-of-type {
				border-right: 1px solid $black-opacity-1;
			}

			&:last-of-type {
				color: $second-color;
			}
		}
	}

	&__tabs {
		border-bottom: 1px solid $gray-10-opacity-5;
		background-color: $gray-light-4;

		a {
			position: relative;
			display: block;
			padding: 20px 15px 16px;
			text-align: center;
			font: 500 16px/16px FuturaPT;
			color: $second-black-color;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 30%;
				height: 6px;
				border-radius: 100px 100px 0px 0px;
				background: transparent;
				transition: width .3s;
			}
		}

		.uk-active {
			a {
				color: $main-color;

				&::after {
					width: 100%;
					background-color: $main-color;
				}
			}
		}
	}

	&__list {
		padding: 20px 5px;


		a {
			display: block;
			padding: 10px 15px;
			font: 500 18px/24px FuturaPT;
			color: $second-black-color;
		}
	}

	&__select-city {
		position: relative;
		padding: 13px 15px 35px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			right: 25px;
			top: 0;
			bottom: 0;
			margin: auto;
			border-bottom: 2px solid $main-dark-color;
			border-right: 2px solid $main-dark-color;
			height: 8px;
			width: 8px;
			transform: rotate(45deg);
		}

		span {
			font: normal 14px/22px Roboto;
			color: $second-black-color-opacity-5;

			&:last-of-type {
				a {
					color: $main-color;
				}
			}
		}
	}

	&__socials {
		li {
			height: auto;
			border-left: 1px solid $black-opacity-1;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}

	&__categories {
		li:not(:last-of-type) {
			.uk-accordion-title {
				border-bottom: 1px solid $gray-10-opacity-5;
			}
		}

		.uk-accordion-title {
			position: relative;
			padding: 15px;
			font: 500 19px/24px FuturaPT;
			color: $second-black-color;

			&::before {
				content: "";
				display: block;
				position: absolute;
				right: 25px;
				top: 0;
				bottom: 0;
				margin: auto;
				border-bottom: 2px solid $main-dark-color;
				border-right: 2px solid $main-dark-color;
				height: 8px;
				width: 8px;
				transform: rotate(45deg);
				background: none;
				transition: transform .3s;
			}
		}

		li.uk-open .uk-accordion-title {
			&::before {
				transform: rotate(-135deg);
			}
		}

		.uk-accordion-content {
			margin: 0;
			padding: 20px 0;
			border-bottom: 1px solid $gray-10-opacity-5;
			background-color: $gray-light-4;
		}

		&-list {
			li {
				display: flex;
				width: auto;
				min-height: 190px;
				max-height: 190px;
				margin-right: 10px;
				padding: 10px;
				box-shadow: 0px 2px 6px $black-opacity-05;
				border-radius: 8px;
				background: #FFFFFF;
			}

			a {
				margin: 0 auto;
				display: flex;
				justify-content: space-around;
				flex-direction: column;
				align-items: center;
				text-align: center;
				font: 500 14px/16px FuturaPT;
				color: $main-black-color;
			}
		}

		/* swiper */
		.swiper-products {
			.swiper-slide {
				width: 190px;
				height: 200px;

				a {
					padding: 10px;
					text-align: center;
					border-radius: 20px;
				}

				img {
					margin: auto;
					width: 100%;
					height: 100%;
					mix-blend-mode: multiply;
				}

				span {
					font: 500 18px/28px FuturaPT;
					color: $main-black-color;
					transition: color .15s;

					&:first-of-type {
						font: 400 12px/10px FuturaPT;
						color: $gray-11;
					}
				}

				div {
					margin-bottom: 10px;
					width: 125px;
					height: 125px;
				}
			}
		}
	}
}
