.product-card {
  &--default {
    padding: 20px 5px 5px 5px;
    min-height: 492px;
    min-width: 290px;
    border-radius: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    }

    .product-card__image {
      display: flex;
      margin-bottom: 25px;
      max-height: 275px;
      min-height: 275px;
      text-align: center;
      padding: 0 15px;

      img {
        margin: auto;
        max-width: 100%;
        height: auto;
        max-height: 275px;
        mix-blend-mode: darken;
      }
    }

    .product-card__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      min-height: 56px;
      max-height: 56px;
      padding-left: 15px;
      margin-bottom: 10px;
      font: 500 22px/28px FuturaPT;
      color: #30373D;
    }

    .product-card__price {
      padding-right: 10px;

      &-old {
        font: 600 12px/14px FuturaPT;
        color: rgba(48, 55, 61, .5);
        text-decoration-line: line-through;
        letter-spacing: .5px;
      }

      &-sale {
        padding: 4px 5px;
        font: 600 12px/14px FuturaPT;
        color: #FF548C;
        background-color: rgba(255, 84, 140, .2);
        border-radius: 13px;
      }

      &-total {
        font: 600 24px/28px FuturaPT;
        color: #2C0952;
      }
    }

    .product-card__footer {
      padding: 10px;
      border: 1px solid #EAEAEA;
      border-radius: 16px;
      background: #F8F8F8;

      &-top {
        padding: 0 0 0 5px;
      }

      &-bottom {
        margin-top: 10px;
        padding: 10px 5px 0;
        border-top: 1px solid rgba(234, 234, 234, .8);

        a {
          font: 500 16px/22px FuturaPT;
          color: rgba(48, 55, 61, .4);
          transition: color .3s;

          &:hover {
            color: rgba(48, 55, 61, .8);
          }
        }

        span {
          color: #27CC00;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          transition: color .3s;

          &:hover {
            color: #5EF13B;
          }

          @include screen(xl) {
            font: 500 18px/22px FuturaPT;
          }

          @include screen(l) {
            font: 500 16px/22px FuturaPT;
          }
        }
      }

      .btn {
        padding: 13px 15px 14px;
        max-width: 150px;
        font: 500 18px/21px FuturaPT;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  &--checkout {
    position: relative;
    padding: 15px 0 10px;

    .product-card {
      position: relative;

      &__image {
        margin-right: 25px;
        padding: 0 5px;
        width: 105px;
        text-align: center;
        border-radius: 8px;
        background: #FFFFFF;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        padding-right: 30px;
        /*  text-overflow: ellipsis; */
        /*  -webkit-line-clamp: 2; */
        max-height: 50px;
        margin-bottom: 15px;
        color: #30373D;

        @media (max-width: 375px) {
          width: 85%;
        }

        @include screen(xl) {
          font: normal 14px/26px Roboto;
        }

        @include screen(l) {
          font: normal 16px/26px Roboto;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          text-align: right;
          font: 600 12px/14px FuturaPT;
          text-decoration-line: line-through;
          color: rgba(48, 55, 61, .5);
        }

        &-total {
          font: 600 24px/28px FuturaPT;
          color: #2C0952;
        }

        &-sale {
          padding: 3px 5px 2px;
          margin: 2px 0 0 0;
          text-align: center;
          font: 600 10px/12px FuturaPT;
          color: #FF548C;
          background-color: rgba(255, 84, 140, .2);
          border-radius: 13px;
        }
      }

      &__quantity {
        padding: 4px;
        width: 100px;
        background: #FFFFFF;
        border: 1px solid #ECECEC;
        font: normal 17px/20px Roboto;
        color: #333333;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border-radius: 16px;

        @include screen(xl) {
          margin-bottom: 15px;
        }

        input {
          max-width: 25px;
          text-align: center;
          border: none;
        }

        button {
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: rgba(39, 204, 0, .2);
          transition: background-color .3s;

          &:hover {
            background-color: #27CC00;

            svg {
              fill: #ffffff;
            }
          }
        }

        svg {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          width: 10px;
          height: 10px;
          display: block;
          fill: #14D75D;
          transition: fill .3s;
        }
      }

      &__close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 0 10px 10px;

        &:hover {
          svg {
            opacity: .7;
          }
        }

        svg {
          width: 20px;
          height: 20px;
          fill: rgb(204, 204, 204);
          transition: opacity .3s;
        }
      }
    }
  }

  &--present {
    padding: 10px 0;

    .product-card {
      &__image {
        margin-right: 10px;
        padding: 0 5px;
        width: 70px;
        text-align: center;
        border-radius: 8px;
        background: #FFFFFF;

        @include screen(xl) {
          display: none;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        margin-bottom: 5px;
        color: #30373D;

        @include screen(xl) {
          font: normal 14px/26px Roboto;
        }

        @include screen(l) {
          width: max-content;
          font: normal 16px/26px Roboto;
        }
      }

      &__price {
        font: 600 18px/16px FuturaPT;
        color: #27CC00;

        @include screen(l) {
          align-self: flex-end;
        }
      }
    }
  }

  &--accessories {
    padding: 15px;
    background: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 10px;

    .product-card {
      &__image {
        display: flex;
        align-items: center;
        margin-right: 15px;
        width: 110px;
        text-align: center;
        background: #FFFFFF;
        mix-blend-mode: darken;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        max-height: 50px;
        margin-bottom: 15px;
        color: #30373D;

        @include screen(xl) {
          font: normal 14px/26px Roboto;
        }

        @include screen(l) {
          font: normal 16px/22px Roboto;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          margin-right: 5px;
          text-align: right;
          font: 600 12px/14px FuturaPT;
          text-decoration-line: line-through;
          color: rgba(48, 55, 61, .5);
        }

        &-total {
          font: 600 18px/26px FuturaPT;
          color: #2C0952;
        }

        &-sale {
          padding: 3px 5px 2px;
          text-align: center;
          font: 600 10px/12px FuturaPT;
          color: #FF548C;
          background-color: rgba(255, 84, 140, .2);
          border-radius: 13px;
        }
      }
    }

    .btn {
      padding: 5px 15px 7px;
      max-width: 125px;
      font: 600 14px/16px FuturaPT;
      background: #27CC00;
      box-shadow: 0px 3px 10px rgba(39, 204, 0, 0.35);

      &:hover {
        background: #5EF13B;
        box-shadow: 0px 3px 20px rgba(67, 254, 22, 0.701841);
      }
    }
  }

  &--active {
    background: #F8F8F8;

    .btn {
      background: #ffffff;
      color: rgba(43, 45, 48, 0.8);
      box-shadow: none;

      &:hover {
        background: #ffffff;
        color: rgba(43, 45, 48, 0.8);
        box-shadow: none;
      }
    }
  }
}
