.product-card {
  &--default {
    padding: 20px 5px 5px 5px;
    min-height: 492px;
    min-width: 290px;
    border-radius: 20px;
    background-color: $white;
    overflow: hidden;
    transition: box-shadow .3s;

    &:hover {
      box-shadow: 0px 2px 15px $black-opacity-2;
    }

    .product-card__image {
      display: flex;
      margin-bottom: 25px;
      max-height: 275px;
      min-height: 275px;
      text-align: center;
      padding: 0 15px;

      img {
        margin: auto;
        max-width: 100%;
        height: auto;
        max-height: 275px;
        mix-blend-mode: darken;
      }
    }

    .product-card__title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      min-height: 56px;
      max-height: 56px;
      padding-left: 15px;
      margin-bottom: 10px;
      font: 500 22px/28px FuturaPT;
      color: $main-black-color;
    }

    .product-card__price {
      padding-right: 10px;

      &-old {
        font: 600 12px/14px FuturaPT;
        color: $main-black-color-opacity-5;
        text-decoration-line: line-through;
        letter-spacing: .5px;
      }

      &-sale {
        padding: 4px 5px;
        font: 600 12px/14px FuturaPT;
        color: $main-color;
        background-color: $main-color-opacity-2;
        border-radius: 13px;
      }

      &-total {
        font: 600 24px/28px FuturaPT;
        color: $third-color;
      }
    }

    .product-card__footer {
      padding: 10px;
      border: 1px solid $gray-3;
      border-radius: 16px;
      background: $gray-light;

      &-top {
        padding: 0 0 0 5px;
      }

      &-bottom {
        margin-top: 10px;
        padding: 10px 5px 0;
        border-top: 1px solid $gray-3-opacity-8;

        a {
          font: 500 16px/22px FuturaPT;
          color: $main-black-color-opacity-4;
          transition: color .3s;

          &:hover {
            color: $main-black-color-opacity-8;
          }
        }

        span {
          color: $green;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          transition: color .3s;

          &:hover {
            color: $green-2;
          }

          @include screen(xl) {
            font: 500 18px/22px FuturaPT;
          }

          @include screen(l) {
            font: 500 16px/22px FuturaPT;
          }
        }
      }

      .btn {
        padding: 13px 15px 14px;
        max-width: 150px;
        font: 500 18px/21px FuturaPT;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
  }

  &--checkout {
    position: relative;
    padding: 15px 0 10px;

    .product-card {
      position: relative;

      &__image {
        margin-right: 25px;
        padding: 0 5px;
        width: 105px;
        text-align: center;
        border-radius: 8px;
        background: $white;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        padding-right: 30px;
        max-height: 50px;
        margin-bottom: 15px;
        color: $main-black-color;

        @media (max-width: 375px) {
          width: 85%;
        }

        @include screen(xl) {
          font: normal 14px/26px Roboto;
        }

        @include screen(l) {
          font: normal 16px/26px Roboto;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          text-align: right;
          font: 600 12px/14px FuturaPT;
          text-decoration-line: line-through;
          color: $main-black-color-opacity-5;
        }

        &-total {
          font: 600 24px/28px FuturaPT;
          color: $third-color;
        }

        &-sale {
          padding: 3px 5px 2px;
          margin: 2px 0 0 0;
          text-align: center;
          font: 600 10px/12px FuturaPT;
          color: $main-color;
          background-color: $main-color-opacity-2;
          border-radius: 13px;
        }
      }

      &__quantity {
        padding: 4px;
        width: 100px;
        background: $white;
        border: 1px solid $gray-12;
        font: normal 17px/20px Roboto;
        color: $second-black-color;
        box-shadow: 0px 4px 10px $black-opacity-05;
        border-radius: 16px;

        @include screen(xl) {
          margin-bottom: 15px;
        }

        input {
          max-width: 25px;
          text-align: center;
          border: none;
        }

        button {
          position: relative;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $green-opacity-2;
          transition: background-color .3s;

          &:hover {
            background-color: $green;

            svg {
              fill: $white;
            }
          }
        }

        svg {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          width: 10px;
          height: 10px;
          display: block;
          fill: $green-3;
          transition: fill .3s;
        }
      }

      &__close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 0 10px 10px;

        &:hover {
          svg {
            opacity: .7;
          }
        }

        svg {
          width: 20px;
          height: 20px;
          fill: $gray-13;
          transition: opacity .3s;
        }
      }
    }
  }

  &--present {
    padding: 10px 0;

    .product-card {
      &__image {
        margin-right: 10px;
        padding: 0 5px;
        width: 70px;
        text-align: center;
        border-radius: 8px;
        background: $white;

        @include screen(xl) {
          display: none;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        margin-bottom: 5px;
        color: $main-black-color;

        @include screen(xl) {
          font: normal 14px/26px Roboto;
        }

        @include screen(l) {
          width: max-content;
          font: normal 16px/26px Roboto;
        }
      }

      &__price {
        font: 600 18px/16px FuturaPT;
        color: $green;

        @include screen(l) {
          align-self: flex-end;
        }
      }
    }
  }

  &--accessories {
    padding: 15px;
    background: $white;
    border: 1px solid $gray-3;
    border-radius: 10px;

    .product-card {
      &__image {
        display: flex;
        align-items: center;
        margin-right: 15px;
        width: 110px;
        text-align: center;
        background: $white;
        mix-blend-mode: darken;

        img {
          width: 100%;
          height: auto;
        }
      }

      &__name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        max-height: 50px;
        margin-bottom: 15px;
        color: $main-black-color;

        @include screen(xl) {
          font: normal 14px/26px Roboto;
        }

        @include screen(l) {
          font: normal 16px/22px Roboto;
        }
      }

      &__price {
        margin-bottom: 10px;

        &-old {
          margin-right: 5px;
          text-align: right;
          font: 600 12px/14px FuturaPT;
          text-decoration-line: line-through;
          color: $main-black-color-opacity-5;
        }

        &-total {
          font: 600 18px/26px FuturaPT;
          color: $third-color;
        }

        &-sale {
          padding: 3px 5px 2px;
          text-align: center;
          font: 600 10px/12px FuturaPT;
          color: $main-color;
          background-color: $main-color-opacity-2;
          border-radius: 13px;
        }
      }
    }

    .btn {
      padding: 5px 15px 7px;
      max-width: 125px;
      font: 600 14px/16px FuturaPT;
      background: $green;
      box-shadow: 0px 3px 10px $green-opacity-35;

      &:hover {
        background: $green-2;
        box-shadow: 0px 3px 20px $green-4;
      }
    }
  }

  &--active {
    background: $gray-light;

    .btn {
      background: $white;
      color: $third-black-color-opacity-8;
      box-shadow: none;

      &:hover {
        background: $white;
        color: $third-black-color-opacity-8;
        box-shadow: none;
      }
    }
  }
}
