.search {
	position: relative;

	@include screen(xl) {
		padding-top: 5px;
	}

	@include screen(l) {
		margin-right: 10px;
	}

	input {
		padding: 11px 20px 12px;
		width: 100%;
		border-radius: 8px;
		border: none;
		background: url("../img/pic/ico/search-ico.svg") no-repeat, #EFEFF0;
		background-size: 18px 18px;
		background-position: 98%;
	}

	&__mobile {
		@include screen(xl) {
			margin-right: 25px;
		}
	}
}
