.seo-msk {
  box-shadow: 0px 2px 7px $black-opacity-05;
  background-color: $white;
  overflow: hidden;
  border-radius: 20px;

  &__wrap {
    padding-top: 60px;
  }

  &__header {
    position: relative;
    border-bottom: 1px solid $gray-12;
    overflow: hidden;

    @include screen(xl) {
      padding: 30px 20px;
    }

    @include screen(l) {
      padding: 40px 50px;
    }

    img {
      @include screen(xl) {
        display: none;
      }

      @include screen(l) {
        position: absolute;
        right: -50px;
        top: 0;
        width: 975px;
        height: auto;
      }
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    display: block;
    color: $second-black-color;

    @include screen(xl) {
      margin-bottom: 20px;
      font: 600 28px/40px FuturaPT;
    }

    @include screen(l) {
      margin-bottom: 70px;
      font: 600 32px/48px FuturaPT;
    }

    br {
      @include screen(xl) {
        display: none;
      }
    }
  }

  &__time {
    display: inline-block;
    position: relative;
    z-index: 1;
    display: block;
    font: normal 18px/28px Roboto;
    color: $main-color-opacity-9;
  }

  &__text {
    position: absolute;
    z-index: 1;
    font: 500 14px/16px FuturaPT;
    text-transform: uppercase;
    color: $second-black-color-opacity-3;
    pointer-events: none;

    @include screen(xl) {
      display: none;
    }
  }

  /* скидка 500 ₽ */
  span:nth-of-type(3) {
    @include screen(l) {
      top: 235px;
      left: 365px;
      transform: rotate(-54deg);
    }
  }

  /* Защитное стекло */
  span:nth-of-type(4) {
    @include screen(l) {
      top: 110px;
      left: 635px;
      transform: rotate(-98deg);
    }
  }

  /* Чехол */
  span:nth-of-type(5) {
    @include screen(l) {
      top: 230px;
      right: 150px;
      transform: rotate(59deg);
    }
  }

  &__reviews {
    position: relative;
    overflow: hidden;

    @include screen(xl) {
      padding: 20px 15px 40px;
    }

    @include screen(l) {
      padding: 40px 25px;
    }

    &-title {
      display: block;
      margin-bottom: 30px;
      text-align: center;
      font: 600 32px/48px FuturaPT;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $main-color;
    }
  }

  &__review {
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: $gray-light;
    overflow: hidden;
    transition: border-color .3s;

    @include screen(xl) {
      height: auto;
    }

    @include screen(l) {
      min-width: 300px;
      max-width: 300px;
      min-height: 374px;
      max-height: 374px;
    }

    &:hover {
      border: 1px solid $gray-3;
    }

    &:not(:last-of-type) {
      margin-right: 15px;
    }

    &-header {
      margin-bottom: 10px;
    }

    &-info {
      span {
        &:first-of-type {
          margin-bottom: 5px;
          font: 500 22px/26px FuturaPT;
          color: $main-black-color;
        }

        &:last-of-type {
          font: normal 14px/22px Roboto;
          color: $main-black-color-opacity-5;
        }
      }
    }

    img {
      margin-right: 20px;
    }

    p {
      font: normal 14px/26px Roboto;
      color: $main-black-color-opacity-9;
    }
  }
}
