.account {

  .title {
    padding: 30px 30px 0 30px;
    margin-bottom: 25px;
  }

  &__list {
    padding: 0 30px;
    border-bottom: 1px solid rgba(216, 216, 216, .5);

    a:not(.account__logout) {
      display: inline-block;
      padding: 0 15px 10px;
      font: 500 16px/24px FuturaPT;
      color: #333333;
    }

    li.active a {
      position: relative;
      color: #FF548C;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 6px;
        background-color: #FF548C;
        border-radius: 100px 100px 0px 0px;
      }
    }
  }

  &__logout {
    position: relative;
    padding: 0 30px 0 0;
    display: inline-block;
    font: 500 16px/24px FuturaPT;
    color: #FF548C;

    svg {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__content {
    padding: 30px;
  }

  /* main */
  &--main {
    .account {
      &__container {
        padding: 20px 30px;
        border-radius: 15px;
        font: normal 14px/24px Roboto;

        a {
          display: inline-block;
          width: max-content;
          border-bottom: 1px solid transparent;
          font: 500 16px/22px FuturaPT;
          color: #FF548C;
          transition: border .3s;

          &:hover {
            border-color: #FF548C;
          }
        }

        &--cart {
          min-height: 220px;
          color: #ffffff;
          background: #2C0952;

          .account__container-left {
            margin-right: 30px;
            border-right: 1px solid rgba(255, 255, 255, .2);
          }

          .account__container-right {
            font: normal 18px/24px Roboto;

            li {
              &:not(:last-of-type) {
                margin-bottom: 15px;
              }
            }
          }

          .account__container-title {
            margin-bottom: 5px;
            font: 500 24px/28px FuturaPT;
            color: #ffffff;
          }
        }

        &--order {
          color: rgba(48, 55, 61, .7);
          background: #F8F8F8;
          border: 1px solid #EAEAEA;

          .account__container-left {
            margin-right: 30px;
            border-right: 1px solid rgba(0, 0, 0, .1);
          }

          .account__container-right {
            &>li:not(:first-of-type) {
              margin-top: 20px;
              padding-top: 20px;
              border-top: 1px solid rgba(0, 0, 0, .1);
            }
          }

          .account__info-list {
            li {
              &:not(:last-of-type) {
                margin-bottom: 5px;
              }
            }
          }

          .account__container-title {
            margin: 5px;
            font: 500 24px/28px FuturaPT;
            color: #30373D;
          }

          .account__order-number {
            font: 700 18px/24px Roboto;
            color: #FF548C;
          }

          .account__order-status {
            text-align: right;
            font: normal 14px/24px Roboto;

            &--process {
              color: #FF9600;
            }

            &--transit {
              color: #0095FF;
            }

            &--done {
              color: #27CC00;
            }
          }

          .account__date {
            text-align: right;
            font: normal 14px/24px Roboto;
            color: #30373D;
          }
        }
      }
    }
  }

  /* -------- */
}

.profile {
  margin-top: 30px;

  /* title */
  .uk-accordion-title:hover,
  .uk-accordion-title:focus {
    color: #2B2D30
  }

  .uk-accordion-title {
    @include screen(l) {
      pointer-events: none;
    }

    &::before {
      @include screen(l) {
        display: none;
      }
    }
  }

  &__wrap {
    @include screen(l) {
      padding: 20px 30px 25px;
      border-left: 1px solid rgba(0, 0, 0, .1);
    }
  }

  &__title {
    font: 500 24px/28px FuturaPT;
  }

  &__edit {
    margin: 0;
    border-bottom: 1px solid transparent;
    font: normal 14px/22px Roboto;
    color: #FF548C;
    transition: border .3s;

    &:hover {
      border-color: #FF548C;
    }
  }

  &__name {
    font: 500 28px/33px FuturaPT;
  }

  &__region {
    font: normal 16px/22px Roboto;
    color: rgba(48, 55, 61, .7);
  }

  &__logo {
    @include screen(l) {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__balance {
    padding: 15px 0;
    border-top: 1px solid #EAEAEA;

    span {
      font: 600 18px/20px FuturaPT;
      color: #FF548C;
    }

    button {
      width: 100%;
      max-width: 180px;
      padding: 5px 15px;
      border: 1px solid transparent;
      text-align: center;
      white-space: nowrap;
      font: 500 16px/22px FuturaPT;
      color: #F8355E;
      border-radius: 8px;
      background-color: #ffffff;
      transition: box-shadow .3s, color .1s, background-color .3s, border .3s;
      border: 1px solid #F8355E;

      &:hover {
        color: #ffffff;
        background-color: #FF548C;
        box-shadow: 0px 3px 10px rgba(255, 84, 140, 0.4);
        border-color: transparent;
      }
    }
  }

  &__data {
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;

    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    span:not(.profile__subtitle) {
      font: normal 16px/22px Roboto;
    }
  }

  &__subtitle {
    display: inline-block;
    text-transform: uppercase;
    font: 600 12px/22px FuturaPT;
    color: rgba(48, 55, 61, .8);
  }

  &__offers {
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;

    .profile__subtitle {
      margin-bottom: 15px;
    }

    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }

    label {
      font: normal 14px/16px Roboto;
    }
  }

  &__referral {
    padding: 20px 0;
    border-top: 1px solid #EAEAEA;

    .profile__subtitle {
      margin-bottom: 15px;
    }

    &-link {
      padding: 5px 10px;
      margin-bottom: 15px;
      background: #F2F2F2;
      border-radius: 6px;

      .profile__referral-text {
        border: none;
        padding: 0;
        background: none;
        font: normal 14px/22px Roboto;
        color: #FF548C;
      }

      .profile__referral-copy {
        cursor: pointer;
        font: normal 12px/14px Roboto;
        color: rgba(48, 55, 61, .4);
        transition: color .3s;

        &:hover {
          color: #30373D;
        }
      }
    }
  }
}
