.catalog {
  &__header {
    @include screen(xl) {
      padding: 0
    }

    @include screen(l) {
      padding-top: 10px;
    }

    &-top {
      background: $white;

      @include screen(xl) {
        padding: 10px 20px 20px;
      }

      @include screen(l) {
        padding: 15px 30px 10px;
        border: 1px solid $gray-2;
        box-shadow: 0px 2px 7px $black-opacity-05;
        background-repeat: no-repeat;
        border-radius: 20px;
      }

      &--iphone {
        @include screen(l) {
          background-image: url("../img/pic/bg/catalog-header.jpg");
          background-position: right;
          background-size: contain;
        }
      }

      &--ipad {
        @include screen(l) {
          background-image: url("../img/pic/bg/catalog-header-2.jpg");
          background-position: right;
          background-size: contain;
        }
      }

      &--macbook {
        @include screen(l) {
          background-image: url("../img/pic/bg/catalog-header-3.jpg");
          background-size: 980px 80px;
          background-position: 600px 40px;
        }
      }

      &--iwatch {
        @include screen(l) {
          background-image: url("../img/pic/bg/catalog-header-4.jpg");
          background-position: right;
          background-size: contain;
        }
      }

      &--accessories {
        @include screen(l) {
          background-image: url("../img/pic/bg/catalog-header-5.jpg");
          background-position: right;
          background-size: contain;
        }
      }
    }

    &-bottom {
      @include screen(l) {
        border-bottom: 1px solid $gray-7;
      }
    }
  }

  &__settings {
    @media (max-width: 374px) {
      flex-wrap: wrap;
    }

    @include screen(xl) {
      padding-bottom: 15px;
      background: $white;
      border-bottom: 1px solid $gray-2;
      box-shadow: 0px 2px 3px 0 $black-opacity-05;
    }
  }

  &__sort {
    @media (max-width: 374px) {
      margin-bottom: 10px;
    }

    label {
      font: 700 12px/15px FuturaPT;
      text-transform: uppercase;
      color: $main-black-color-opacity-4;
    }
  }

  &__btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 9px 15px;
    font: 600 16px/22px FuturaPT;
    color: $main-color;
    background-color: $white;
    border: 1px solid $gray-12-opacity-7;
    border-radius: 8px;
    transition: border .3s, background-color .3s, box-shadow .3s, color .15s;
    overflow: hidden;

    &:hover {
      background-color: $main-color;
      color: $white;
      border-color: $main-color;
      box-shadow: 0px 6px 30px $main-dark-color-opacity-4;
    }
  }

  &__features {
    .feature {
      padding-left: 15px;

      div:first-of-type {
        width: 80px;
        height: 80px;
      }

      div:last-of-type {
        p {
          &:first-of-type {
            font: 500 22px/26px FuturaPT;
            color: $main-black-color;
          }

          &:last-of-type {
            font: normal 14px/26px Roboto, sans-serif;
            color: $main-black-color-opacity-9;
          }
        }
      }
    }
  }

  &__open-filter {
    @include screen(xl) {
      align-self: flex-end;
      padding: 9px 15px;
      max-width: 215px;
      font: 600 16px/22px FuturaPT;
    }
  }

  /* swiper */
  &__swiper {
    @include screen(xl) {
      padding-left: 5px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray-3-opacity-5;
      overflow: hidden;
    }

    .swiper-wrapper {
      @include screen(l) {
        flex-wrap: wrap;
        height: auto;
      }
    }

    .swiper-slide {
      @include screen(xl) {
        width: auto !important;
      }

      @include screen(l) {
        margin-top: 10px;
        width: auto;
      }

      &:not(:last-of-type) {
        margin-right: 5px;
      }

      a {
        display: block;
        padding: 10px;
        width: max-content;
        font: 500 14px/20px Roboto;
        color: $main-black-color-opacity-8;
        background: $white;
        box-shadow: 0px 2px 7px $black-opacity-05;
        border-radius: 10px;
        transition: background-color .3s, color .15s;

        &:hover {
          background-color: $third-color;
          color: $white;
        }
      }
    }
  }
}
