.footer {
  &__container {
    @include screen(xl) {
      padding: 40px 5px 0;
    }
  }

  &__subtitle {
    text-transform: uppercase;
    font: 600 16px/19px FuturaPT;
    color: $gray-19;
  }

  &__description {
    @include screen(xl) {
      order: 1;
    }

    a {
      display: inline-block;
      margin-bottom: 25px;

      @include screen(xl) {
        padding: 0 15px;
      }
    }

    p {
      font: normal 14px/26px Roboto;
      color: $main-black-color-opacity-9;

      @include screen(xl) {
        margin-bottom: 20px;
        padding: 0 15px;
      }

      @include screen(l) {
        margin-bottom: 60px;
      }
    }

    @include screen(l) {
      padding-bottom: 35px;
    }

    span {
      font: normal 12px/18px Roboto;
      color: $second-black-color-opacity-5;

      @include screen(xl) {
        display: block;
        padding: 20px 15px;
        border-top: 1px solid $gray-20;
      }
    }
  }

  &__menu {
    @include screen(sm) {
      display: flex;
      flex-wrap: wrap;
    }

    @include screen(xl) {
      margin-bottom: 40px;
      padding: 0 15px 20px;
      border-bottom: 1px solid $gray-20;
    }

    @include screen(l) {
      display: flex;
      padding-left: 40px;
    }

    &-container {
      @include screen(sm) {
        width: 50%;
      }

      @include screen(l) {
        padding: 0 10px;
      }

      &:last-of-type {
        @include screen(x) {
          margin-top: 20px;
        }
      }
    }

    .footer__subtitle {
      display: inline-block;
      margin-bottom: 20px;
    }

    a {
      border-bottom: 1px solid transparent;
      color: $second-black-color;
      transition: border .3s, color .3s;

      @include screen(xl) {
        font: 500 16px/24px FuturaPT;
      }

      @include screen(l) {
        font: 400 16px/24px FuturaPT;
      }

      &:hover {
        border-color: $main-color;
        color: $main-color;
      }
    }

    li:not(:last-of-type) {
      margin-bottom: 15px;
    }

    li {
      width: 100%;
    }
  }

  &__contacts {
    @include screen(l) {
      padding: 60px 40px 40px;
      border-left: 1px solid $gray-20;
    }

    .footer__subtitle {
      margin-bottom: 10px;

      @include screen(xl) {
        padding: 0 15px;
      }
    }

    &-container {
      @include screen(xl) {
        padding: 0 15px;
      }

      a {
        margin-bottom: 20px;
        font: 600 32px/37px FuturaPT;
        color: $second-black-color;
      }

      span {
        font: normal 14px/18px FuturaPT;
        color: $second-black-color-opacity-5;
      }
    }
  }

  &__address {
    margin-bottom: 10px;
    font: normal 14px/26px Roboto;
    color: $main-black-color-opacity-9;

    @include screen(xl) {
      padding: 0 15px;
    }
  }

  &__btn-map {
    display: inline-block;
    margin-bottom: 25px;
    width: max-content;
    border-bottom: 1px solid transparent;
    font: 600 16px/22px FuturaPT;
    color: $main-color;
    cursor: pointer;
    transition: border .3s;

    @include screen(xl) {
      padding: 0 15px;
    }

    &:hover {
      border-color: $main-color;
    }
  }

  &__socials {
    margin-bottom: 20px;
    border-top: 1px solid $black-opacity-1;

    @include screen(xl) {
      padding: 20px 15px 0;
    }

    @include screen(l) {
      padding-top: 20px;
    }

    li:not(:last-of-type) {
      margin-right: 30px;
    }

    a {
      transition: opacity .3s;

      &:hover {
        opacity: .8;
      }
    }
  }

  .btn {
    padding: 10px 15px 9px;
    max-width: 210px;
    border-radius: 8px;
    font: 600 16px/22px FuturaPT;
    cursor: pointer;

    @include screen(xl) {
      margin: 0 15px 40px;
    }
  }
}
