.popup {
  &__dialog {
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 28px #00000033;
    border-radius: 24px;
    background: transparent;

    &--small {
      width: 500px;
    }

    &--medium {
      width: 600px;
    }

    &--large {
      width: 940px;
    }
  }

  &__header {
    padding: 35px;
    background: #2C0952;
    color: #ffffff;
    border-radius: 24px 24px 0 0;

    p {
      @include screen(xl) {
        margin-top: 13px;
        font: 300 15px/22px Roboto;
      }

      @include screen(l) {
        margin-top: 15px;
        font: 300 18px/28px Roboto;
      }
    }
  }

  &__content {
    background: #ffffff;
    overflow: hidden;
    border-radius: 0 0 24px 24px;

    @include screen(xl) {
      padding: 20px;
    }

    @include screen(l) {
      padding: 30px;
    }
  }

  &__footer {
    border-top: 1px solid rgba(216, 216, 216, .5);

    @include screen(xl) {
      margin-top: 20px;
      padding: 20px;
    }

    @include screen(l) {
      margin-top: 30px;
      padding: 20px 30px 30px 30px;
    }

    label {
      position: relative;
      cursor: pointer;
      font: normal 12px/16px Roboto;
      color: #30373D;
    }

    input+label::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background-color: #ffffff;
      border: 2px solid #E3E3E3;

      @include screen(xl) {
        top: -3px;
        left: -22px;
      }

      @include screen(l) {
        top: 0;
        bottom: 0;
        left: -25px;
        margin: auto;
      }
    }

    input:checked+label::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 10px;
      background: url("../img/pic/ico/check-ico.svg") no-repeat;
      background-size: cover;
      z-index: 1;

      @include screen(xl) {
        top: 2px;
        left: -18px;
      }

      @include screen(l) {
        top: 0;
        bottom: 0;
        left: -21px;
        margin: auto;
      }
    }

    a {
      color: #FF548C;
      border-bottom: 1px solid #FF548C;
    }
  }

  &__radio-button {
    label {
      position: relative;
      cursor: pointer;
      font: normal 14px/16px Roboto;
      color: #30373D;
    }

    input+label::after {
      content: "";
      position: absolute;
      left: -25px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #E9EBEF;
    }

    input:checked+label::before {
      content: "";
      position: absolute;
      left: -21px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #FF548C;
      z-index: 1;
    }
  }

  &__close {
    padding: 10px;
    width: 50px;
    height: auto;
    fill: #B8B4B4;
    cursor: pointer;
    transition: opacity .3s;

    &:hover {
      opacity: .5;
    }
  }

  .title {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;

    @include screen(xl) {
      font-size: 24px;
    }
  }

  &__subtitle {
    font: 600 12px/18px FuturaPT;
    text-transform: uppercase;
    color: rgba(48, 55, 61, .8);
  }

  .btn {
    padding: 15px;
    font: 500 16px/19px FuturaPT;
    text-transform: uppercase;

    &--gray {
      background: #F8F8F8;
      color: rgb(145, 141, 141);

      &:hover {
        background: #ffffff;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
      }
    }

    &--green {
      background: #FFFFFF;
      border: 1px solid #27CC00;
      color: #27CC00;

      &:hover {
        background: #ffffff;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
      }
    }

    &--disabled {
      background: #B4B4B4;
      color: #ffffff;
      cursor: not-allowed;

      &:hover {
        box-shadow: none;
      }
    }

    &--light {
      background-color: #FFFFFF;
      border: 1px solid #D1D1D1;
      color: rgba(48, 55, 61, .4);

      &:hover {
        box-shadow: none;
      }
    }

    &--dark {
      background-color: #B4B4B4;
      border: none;
      color: #ffffff;
      cursor: not-allowed;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .product-card {
    padding: 15px 0 10px;
    margin-bottom: 30px;
    border-top: 1px solid rgba(216, 216, 216, .5);
    border-bottom: 1px solid rgba(216, 216, 216, .5);

    &--checkout .product-card__image {
      width: 75px;
    }
  }

  &__price {
    li {
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }

    &-value {
      font: normal 14px/24px Roboto;
      color: #30373D;
    }

    &-old {
      margin-right: 5px;
      font: 700 12px/14px Roboto;
      text-decoration-line: line-through;
      color: rgba(48, 55, 61, .5);
    }

    &-total {
      font: 700 24px/28px Roboto;
      color: #2C0952;
    }

    &-sale {
      padding: 3px 5px 2px;
      margin: 2px 0 0 0;
      text-align: center;
      font: 700 10px/12px Roboto;
      color: #FF548C;
      background-color: rgba(255, 84, 140, .2);
      border-radius: 13px;
    }
  }

  &__contact {
    margin-bottom: 0;

    span {
      display: block;
      text-align: center;
      color: #30373D;
    }

    &-title {
      margin-bottom: 10px;
      font: 700 12px/20px FuturaPT;
      text-transform: uppercase;
      opacity: .6;
    }

    a {
      span {
        @include screen(xl) {
          margin-bottom: 10px;
          font: 500 25px/28px Roboto;
        }

        @include screen(l) {
          margin-bottom: 12px;
          font: 500 32px/37px Roboto;
        }
      }
    }

    &-text {
      font: normal 12px/20px Roboto;
      opacity: .5;
    }
  }

  &--question {
    .popup__header {
      padding-bottom: 25px;

      p {
        @media (max-width: 374px) {
          display: none;
        }
      }
    }

    .popup__content {
      padding-bottom: 0;
    }
  }

  &--callback {
    .popup__content {
      padding-bottom: 0;
    }
  }

  &--pre-order {
    .product-card {
      padding-top: 0;
      border-top: none;

      &__name {
        margin-bottom: 10px;
      }

      &__price {
        span:first-of-type {
          font: 600 12px/20px FuturaPT;
          text-transform: uppercase;
          color: rgba(48, 55, 61, .8);
        }

        &-total {
          color: #30373D;
        }
      }
    }

    .btn {
      &--gray {
        margin-top: 15px;
        text-transform: none;

        @include screen(xl) {
          font-weight: 500;
        }

        br {
          @include screen(l) {
            display: none;
          }
        }
      }
    }

    .popup__footer {
      @include screen(xl) {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
      }
    }
  }

  &--adds-reviews {
    .popup__header {
      p {
        @media (max-width: 374px) {
          display: none;
        }
      }
    }

    .popup__content {
      padding-bottom: 0;
    }

    .popup__container {
      &-left {
        textarea {
          max-height: 80px;
        }
      }

      &-right {
        textarea {
          @include screen(xl) {
            max-height: 150px;
          }

          @include screen(l) {
            max-height: 217px;
          }
        }
      }
    }

    .popup__rating {
      @include screen(l) {
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }
  }

  &--maps {
    .popup__header {
      position: relative;
      padding-bottom: 80px;

      .nice-select {
        position: absolute;
        bottom: 20px;
        background: #6a528a !important;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05) !important;
        border-radius: 10px !important;
        border: none !important;
        transition: background-color .3s;

        &.open {
          background: #1c043a !important;
        }

        li:hover {
          background: #2C0952 !important;
          color: #ffffff !important;
        }
      }
    }

    .popup__content {
      padding: 0;
    }

    iframe {
      margin-bottom: -10px;
      width: 100%;

      @include screen(xl) {
        height: 320px;
      }
    }

    /* swiper */
    .popup-maps__wrap {
      @include screen(xl) {
        background-color: #F4F4F4;
      }

      @include screen(l) {
        width: 300px;
      }
    }

    .popup-maps__swiper-container {
      position: relative;
      overflow: hidden;

      @include screen(l) {
        height: 500px;
        border-top: 1px solid #E6E6E6;
        border-right: 1px solid #E6E6E6;
      }

      .swiper-wrapper {
        @include screen(l) {
          width: 300px;
        }
      }

      .swiper-slide {
        @include screen(xl) {
          padding: 10px;
          width: auto;
        }

        @include screen(l) {
          height: auto !important;
        }

        &-active {
          @include screen(l) {
            background-color: rgba(230, 230, 230, .3);
          }

          & div {
            background-color: #ffffff;
            border-color: transparent;
          }

          &::after {
            @include screen (xl) {
              content: "";
              position: absolute;
              right: 25px;
              bottom: 20px;
              width: 7px;
              height: 15px;
              background: url("../img/pic/ico/arrow.svg") no-repeat;
              background-size: contain;
              transform: rotate(90deg);
            }

            @include screen (l) {
              content: "";
              position: absolute;
              right: 20px;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 7px;
              height: 15px;
              background: url("../img/pic/ico/arrow.svg") no-repeat;
              background-size: contain;
            }
          }
        }
      }

      li {
        border-top: 1px solid #E6E6E6;

        &:first-of-type {
          border-top: none;
        }



        div {
          position: relative;
          transition: background-color .3s;
          cursor: pointer;

          @include screen(xl) {
            padding: 20px 20px 15px 15px;
            background-color: #F4F4F4;
            /*  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05); */
            border: 1px solid #E2E2E2;
            border-radius: 8px;
          }

          @include screen(l) {
            padding: 12px 35px 12px 40px;
          }

          &:hover {
            @include screen(l) {
              background-color: rgba(230, 230, 230, .3);
            }
          }
        }
      }

      .swiper-scrollbar {
        position: absolute;
        right: 5px !important;
        left: auto !important;
        background: transparent !important;

        &-drag {
          background: #D4D4D4 !important;
          border-radius: 8px;
          ;
        }
      }
    }

    .contacts__info {
      &-title {
        margin-bottom: 10px;
        position: relative;
        padding-left: 25px;
        font: 500 16px/19px Roboto;
        color: #797C80;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          width: 20px;
          height: 20px;
          background: url("../img/pic/ico/metro-ico.svg") no-repeat;
        }
      }

      &-address {
        margin-bottom: 10px;
        font: normal 16px/19px Roboto;
        color: #2B2D30;
      }

      &-phone {
        font: normal 14px/16px Roboto;
        color: #797C80;
      }
    }
  }

  &--credit {
    .popup__radio-button {
      li {
        @include screen(l) {
          padding-right: 60px;
        }

        &:not(:last-of-type) {
          margin-bottom: 25px;
        }

        .popup__radio-button-item {
          &:first-of-type {
            @include screen(xl) {
              margin-right: 45px;
            }

            @include screen(l) {
              margin-right: 60px;
            }
          }
        }
      }
    }

    .popup__header {
      p {
        @media (max-width: 374px) {
          display: none;
        }

        @include screen(xl) {
          br {
            display: none;
          }
        }
      }
    }

    .popup__content {
      @include screen(xl) {
        padding: 15px;
      }

      @include screen(l) {
        padding: 15px 15px 15px 30px;
      }
    }

    .popup__footer {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
    }

    .popup__container {
      border: 1px solid #EAEAEA;
      border-radius: 15px;
      background: #F8F8F8;

      @include screen(xl) {
        padding: 20px;
      }

      @include screen(l) {
        margin-left: 30px;
        padding: 20px 30px 30px;
      }

      &-header {
        margin: 10px 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(216, 216, 216, .5);

        span {
          &:first-of-type {
            font: 500 48px/56px Roboto;
            color: #FF548C;
          }

          &:last-of-type {
            font: normal 12px/20px Roboto;
            color: rgba(51, 51, 51, .5);

            br {
              @include screen(xl) {
                display: none;
              }
            }
          }
        }
      }

      &-footer {
        .popup__container-big-text {
          display: inline-block;
          margin-bottom: 20px;
          font: 600 24px/32px FuturaPT;
          color: #30373D;
        }
      }
    }
  }

  &--login {
    .popup__content {
      padding-bottom: 20px;

      span {
        display: block;
        margin-top: 15px;
        text-align: center;
        font: 500 18px/32px FuturaPT;
        color: #FF548C;
      }
    }
  }

  &--message {
    .popup__header {
      padding-bottom: 20px;

      span {
        font: normal 18px/28px Roboto;
      }

      &-container {
        div:first-of-type {
          position: relative;
          margin-right: 15px;
          padding-right: 15px;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1px;
            height: 50px;
            background-color: rgba(255, 255, 255, .2);
          }
        }
      }
    }

    .popup__content {
      input {
        border: 1px solid #FF548C;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
      }

      p {
        font: normal 14px/20px Roboto;
        color: rgba(48, 55, 61, .5);
      }
    }

    .popup__footer {
      margin-top: 0;
    }
  }

  &--pay {
    .popup__content {
      padding-bottom: 0;

      a {
        margin-top: 20px;
        display: block;
        text-align: center;
        font: normal 14px/16px Roboto;
        color: rgba(48, 55, 61, .5);
        text-decoration: underline;
      }
    }

    .popup__header {
      .title {
        @include screen(l) {
          padding: 0;
        }
      }
    }

    .popup__footer {
      a {
        display: inline;
        margin: 0;
        color: #FF548C;
        border-bottom: 1px solid #FF548C;
        text-decoration: none;
        font: normal 12px/16px Roboto;
      }
    }
  }

  &--error-pay {
    .popup__header {
      p {
        &:last-of-type {
          margin-top: 5px;
        }
      }
    }

    .popup__content {
      padding-bottom: 0;

      a {
        margin-top: 20px;
        display: block;
        text-align: center;
        font: normal 14px/16px Roboto;
        color: rgba(48, 55, 61, .5);
        text-decoration: underline;
      }
    }

    .popup__footer {
      a {
        display: inline;
        margin: 0;
        color: #FF548C;
        border-bottom: 1px solid #FF548C;
        text-decoration: none;
        font: normal 12px/16px Roboto;
      }
    }

    .checkout__list-select {
      li {
        padding: 20px;
      }

      span {
        margin-left: 20px;
        display: inline-block;
        text-align: left;
        font: 500 14px/18px Roboto;
      }

      img {
        margin: 0;
      }
    }
  }

  &--eddit {
    .field {
      &:nth-of-type(5) {
        padding-top: 20px;
        border-top: 1px solid rgba(216, 216, 216, .5);
      }
    }
  }

  &--one-click {
    .popup__content {
      padding-top: 15px;
    }

    .popup__footer {
      @include screen(xl) {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
      }
    }

    .popup__contact {
      margin-top: 15px;
    }
  }

  &--search {
    @include screen(l) {
      position: relative;
      padding: 0;
      display: block;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      z-index: 1;
      overflow: inherit;
      background: transparent;
      opacity: 1;
      transition: opacity .15s linear;
    }

    .uk-modal-body {
      @include screen(xl) {
        padding: 0;
        border-radius: 12px;
        overflow: hidden;
        background: transparent;
      }

      @include screen(l) {
        padding: 0;
        margin: 0;
        width: auto;
        max-width: none;
        background: transparent;
        opacity: 1;
        transform: none;
      }
    }

    /* .search__clear {
      opacity: 0;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      transition: opacity .3s;
      pointer-events: none;
      z-index: 350;

      svg {
        vertical-align: middle;
        width: 25px;
        height: 25px;
        fill: #FF548C;
      }
    } */

    .popup__search-btn {
      @include screen(xl) {
        position: absolute;
        right: 10px;
        top: 0;
        width: 40px;
        height: 40px;
        transition: opacity .3s;
        z-index: 350;
        pointer-events: none;
        opacity: 0;
      }

      svg {
        @include screen(xl) {
          vertical-align: middle;
          width: 25px;
          height: 25px;
          fill: #FF548C;
        }
      }
    }

    input {
      @include screen(xl) {
        width: 100%;
        padding: 12px 150px 12px 20px;
        border: 1px solid #DDDDDD;
        border-radius: 12px;
        background: url('../img/pic/ico/search.svg') 20px center no-repeat, #ffffff;
      }

      &:valid {

        &~.search__close-wrap .search__close {
          transform: translate(100px);
          opacity: 0;
          transition: opacity .3s, transform .4s;
        }
      }
  
      &:invalid {
        background-position: 1000px;
  
        &~.search__close-wrap .search__close {
          transform: translate(0px);
          opacity: 1;
          pointer-events: inherit;
          transition: opacity .3s, transform .4s;
        }
      }
    }

    .popup__search__result {
      @include screen(xl) {
        z-index: 100;
        margin-top: 5px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        transition: opacity .3s;
      }

      a {
        @include screen(xl) {
          display: block;
          padding: 17px 20px 15px;
          color: #30373D;
        }

        &:not(:last-of-type) {
          @include screen(xl) {
            border-bottom: 1px solid #E6E6E6;
            font: normal 16px/19px Roboto;
          }
        }

        &:hover {
          @include screen (xl) {
            background: #2C0952;
            color: rgba(255, 255, 255, .9);
          }
        }
      }
    }
  }

  &--cart-add {
    .popup__content {
      padding-top: 15px;
    }
  }

  &--thanks {
    .popup__header {
      p {
        span {
          color: #ffffff !important;
        }
      }
    }
  }

  &--select-city {
    input {
      margin-bottom: 15px;
      padding: 10px 20px;
      width: 100%;
      background: #EFEFF0;
      border-radius: 8px;
      font: normal 15px/19px FuturaPT;
      color: #30373D;
      border: none;
    }

    li {
      &:not(:last-of-type) {
        margin-right: 10px;
        margin-bottom: 10px;
      }

      &.active {
        a {
          background: #6344B6;
          box-shadow: 0px 4px 12px rgba(107, 72, 169, 0.4);
          color: #ffffff;
        }
      }
    }

    a {
      display: block;
      padding: 10px 15px;
      font: 400 16px/20px Roboto;
      color: #30373D;
      background: #E9E9E9;
      box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      transition: background-color .3s, box-shadow .3s, color .15s;

      &:hover {
        background: #6344B6;
        box-shadow: 0px 4px 12px rgba(107, 72, 169, 0.4);
        color: #ffffff;
      }
    }
  }

  &--video {
    & .uk-modal-dialog {
      width: auto;

      @include screen(l) {
        max-height: 500px;
      }
    }

    iframe {
      @include screen(xl) {
        width: 320px;
        height: 200px;
      }

      @include screen(m) {
        width: 700px;
        height: 400px;
      }

      @include screen(l) {
        max-width: 1110px;
        max-height: 500px;
        margin: auto;
      }
    }
  }

  &--filter {
    @include screen(l) {
      padding: 0 !important;

      display: block !important;
      position: relative !important;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      z-index: 1 !important;
      overflow-y: inherit !important;
      background: none !important;
      opacity: 1 !important;
      transition: opacity .15s linear;
    }

    .popup__content {
      @include screen(xl) {
        background: #F8F8F8;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
      }

      @include screen(l) {
        padding: 0 !important;
        background-color: transparent;
      }
    }

    .popup__dialog {
      @include screen(l) {
        margin: 0 auto;
        width: 100% !important;
        background: transparent !important;
        opacity: 1 !important;
        transform: none !important;
        box-shadow: none;
      }
    }

    .popup__title {
      @include screen(xl) {
        margin-right: 20px;
        display: block;
        font: 500 28px/36px FuturaPT;
        color: #30373D;
      }
    }

    .btn {
      @include screen(xl) {
        padding: 12px 15px 11px;
        width: 100%;
        max-width: 110px;
        font: 600 15px/18px FuturaPT;
        color: #6B6B6B;
        text-transform: uppercase;
        background: #DDDDDD;
        border-radius: 8px;
        transition: box-shadow .3s;
        box-shadow: none;
      }

      @include screen(l) {
        display: none;
      }

      &:hover {
        @include screen(xl) {
          background: #DDDDDD;
          color: #6B6B6B;
          box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
        }
      }
    }

    .filter__memory {
      li {
        @include screen(xl) {
          margin: 0 5px 5px 0;
        }
      }
    }
  }
}
